/**
 * fixing bootstrap 2/3 issues.
 */
.alert-error {
  .alert-danger;
}
.alert{
  .alert-warning;
}

.form-inline {

}

.pull-right {
  float: right;
  @media (max-width: 767px) {
    &.featured_site_links {
      float: none !important;
    }
  }
}

.navbar-inner {
  //.container;
  background-color: #fafafa;
  &.site-top-nav {
    overflow: hidden;
    border-color: rgba(100, 100, 100, 0.4);
    border: 1px solid #d4d4d4;
    border-radius: 4px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  .nav {
    .navbar-nav;
  }
  .nav > li > a {
    //padding: 8.75px 15px 8.75px;
    color: #666;
  }
  .site-top-nav {
    .nav {
      .nav-pills;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      li.active a {
        color: #555;
        text-decoration: none;
        background-color: #e5e5e5;
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        border-radius: 0px;
        &:hover, &:focus {
          color: #555;
          background: #fefefe;
          box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.12);
          outline: none;
        }
      }
    }
    .nav-pills > li > a {
      border-radius: 0px;
    }
    .nav > li + li {
      margin-left: 0;
    }
  }
  .brand {
    .navbar-brand;
    padding: 8.75px 20px 8.75px;
  }
}

.navicon {
  .navbar-toggle;
}

.nav-collapse {
  .navbar-collapse;
}

.nav-collapse {
  .navbar-collapse;
}

.row-fluid {
  .row;

  margin-left: 0px !important;
  margin-right: 0px !important;

  h1 {
    margin-left: 15px;
  }
  h2 {
    margin-left: 15px;
  }

  [class^="span"] {
    h1, h2 {
      margin-left: 0px;
    }
  }
  .col-md-12, .span12 {
    h1 {
      padding-left: 0;
    }
  }
}

// Gradient Bar Colors for buttons and alerts
.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: @textColor;
  text-shadow: @textShadow;
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) fadein(rgba(0, 0, 0, .1), 15%);
}

.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  .gradientBar(@startColor, @endColor, @textColor, @textShadow);
  *background-color: @endColor; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  .reset-filter();

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: @textColor;
    background-color: @endColor;
    *background-color: darken(@endColor, 5%);
  }

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    background-color: darken(@endColor, 10%) e("\9");
  }
}
#cse {
  .makeColumn(12);
}
.border-radius(@radius) {
  border-radius: @radius;
}

.makeColumn(@width) {
  .make-md-column(@width);
}

.span(@width) {
  .make-md-column(@width);
}

ul.inline {
  .list-inline;
}

.span1 {
  .make-md-column(1);
}

.span2 {
  .make-md-column(2);
}

.span3 {
  .make-md-column(3);
}

.span4 {
  .make-md-column(4);
}

.span5 {
  .make-md-column(5);
}

.span6 {
  .make-md-column(6);
}

.span7 {
  .make-md-column(7);
}

.span8 {
  .make-md-column(8);
}

.span9 {
  .make-md-column(9);
}

.span10 {
  .make-md-column(10);
}

.span11 {
  .make-md-column(11);
}

.span12 {
  .make-md-column(12);
}

.offset1 {
  .make-md-column-offset(1);
}

.offset2 {
  .make-md-column-offset(2);
}

.offset3 {
  .make-md-column-offset(3);
}

.offset4 {
  .make-md-column-offset(4);
}

.offset5 {
  .make-md-column-offset(5);
}

.offset6 {
  .make-md-column-offset(6);
}

.offset7 {
  .make-md-column-offset(7);
}

.offset8 {
  .make-md-column-offset(8);
}

.offset9 {
  .make-md-column-offset(9);
}

.offset10 {
  .make-md-column-offset(10);
}

.offset11 {
  .make-md-column-offset(11);
}

.offset12 {
  .make-md-column-offset(12);
}

@import "um-variable-translation";