// Load Bootstrap
// -------------------------
// All UM pages need bootstrap, so include it + the responsive framework
/*!
 * Bootstrap v3.2.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

@assetsPath: 'https://www.umt.edu/_common/assets/';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,200,400,600,700,300);

// Core variables and mixins
@import "../twitter/bootstrap/v3.2.0/variables";
@import "um-variables";
@import "um-conversion";
// Modify this for custom colors, font-sizes, etc

@import "../twitter/bootstrap/v3.2.0/mixins.less";

// UM Mixins
@import "um-mixins.less";

// CSS Reset
@import "../twitter/bootstrap/v3.2.0/normalize";
@import "../twitter/bootstrap/v3.2.0/print";
@import "../twitter/bootstrap/v3.2.0/glyphicons";

//Core

@import "../twitter/bootstrap/v3.2.0/scaffolding";
@import "../twitter/bootstrap/v3.2.0/type";
@import "um-type.less";
@import "../twitter/bootstrap/v3.2.0/code";
@import "../twitter/bootstrap/v3.2.0/grid";
@import "../twitter/bootstrap/v3.2.0/tables.less";
@import "../twitter/bootstrap/v3.2.0/forms.less";
@import "../twitter/bootstrap/v3.2.0/buttons.less";


// Components: common
@import "../twitter/bootstrap/v3.2.0/component-animations";
@import "../twitter/bootstrap/v3.2.0/dropdowns";
@import "../twitter/bootstrap/v3.2.0/button-groups.less";
@import "../twitter/bootstrap/v3.2.0/input-groups.less";
@import "../twitter/bootstrap/v3.2.0/navs";
@import "../twitter/bootstrap/v3.2.0/navbar";
@import "../twitter/bootstrap/v3.2.0/breadcrumbs.less";
@import "../twitter/bootstrap/v3.2.0/alerts.less";
@import "../twitter/bootstrap/v3.2.0/wells.less";

// Components: Misc
@import "../twitter/bootstrap/v3.2.0/labels";
@import "../twitter/bootstrap/v3.2.0/panels";
@import "../twitter/bootstrap/v3.2.0/badges";
@import "../twitter/bootstrap/v3.2.0/thumbnails";

// Utility classes
@import "../twitter/bootstrap/v3.2.0/utilities";
@import "../twitter/bootstrap/v3.2.0/responsive-utilities.less";



// UM Header
// -------------------------
// 

@import "um-wells.less";
@import "branding/um-background.less";
@import "branding/um-header.less";
@import "branding/um-search-form";
@import "branding/um-footer.less";
@import "branding/um-header-dropdown.less";
@import "um-responsive.less";

@import "branding/um-emergency.less";
//@import "um-webfontskit.less";

/*
*[role] * {
  background-color: black !important;
}
*[role="search"] * {
  background-color: green !important;
}
*[role="navigation"] * {
  background-color: blue !important;
}
*[role="main"] * {
  background-color: pink !important;
}
*[role="contentinfo"] * {
  background-color: red !important;
}

body * {
  clear: both !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  float: none !important;
  padding: 0 !important;
  display: block !important;
  position: relative !important;
  top: auto !important;
  text-align: left;
  left: auto !important;
}

title,
script {
  display: none !important;
}

*/