.grey-bg-tiled {
  background: @grayBackground top left url('@{assetsPath}/imx/grey-tiled-background-with-noise.png') repeat;
}

.background-cover (@url, @bgcolor: transparent) {
  background: @bgcolor url(@url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.umbox (@bgcolor: @white, @radius: 3px) {
  border-radius: @radius;
  border: 1px solid darken(@bgcolor, 30%);
  background: @bgcolor;
  .box-shadow(@shadow: 1px 1px 10px 1px rgba(0,0,0,.10));
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 220px;
}

.umbox {
  .umbox;
}

.oreo-padding (@contentPaddingTop: 25px, @contentPaddingBottom: 25px) {
  padding-top: @contentPaddingTop;
  padding-bottom: @contentPaddingBottom;

  @media (max-width: @navbarCollapseWidth) {
    padding-top: (@contentPaddingTop / 2);
    padding-bottom: (@contentPaddingBottom / 2);
  }
}

.oreo-padding {
  .oreo-padding;
}

.oreo-margin (@contentMarginTop: 25px, @contentMarginBottom: 25px) {
  margin-top: @contentMarginTop;
  margin-bottom: @contentMarginBottom;

  @media (max-width: @navbarCollapseWidth) {
    margin-top: (@contentMarginTop / 2);
    margin-bottom: (@contentMarginBottom / 2);
  }
}

.oreo-margin {
  .oreo-margin;
}


.content-padding() {
  padding-left: 30px;
  padding-right: 30px;
  .element-padding(0px , 0px);
}
.element-padding (@elementPaddingLeft: 30px, @elementPaddingRight: 30px) {
  p img {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0;
  }
  table {
    img {
      padding: 0;
      margin: 0;
    }
  }
  #infopanel table {
    margin: 0;
    padding: 0;
  }
}

.no-padding {
  .element-padding(0px, 0px);

  @media (max-width: 767px) {
    .element-padding;
  }
}

/* These are not really mixins but they are general utility classes */

.container.wide {
  width: auto;
  max-width: 1500px;
}

.no-element-padding {
  padding: 0;
}

.no-element-margin {
  margin: 0;
}

.no-decoration {
  border-bottom: none;
}

.strong {
 font-weight: bold;
}

.center {
  text-align: center;
}

.development_hidden {
  display: none;
}

.access_hidden {
  .sr-only;
  color: #000;
  background-color: #FFF;
  position: absolute !important;

}
.access_hidden_old {
  position: absolute !important;
  left: -9999px;
  text-indent: -9999px;
  font-size: 1px;
  visibility: visible;
}

.lede_paragraph {
  font-weight: bold;
}

.container img[align="left"], .container img[style^="float:left"], .container img[style^="float: left"] {
  margin: 0 15px 15px 30px !important;
  display: inline;
}
.container img[align="right"], .container img[style^="float:right"], .container img[style^="float: right"] {
  margin: 0 30px 20px 15px !important;
  display: inline;
}
.container .content-area img[align="left"], .container .content-area img[style^="float:left"], .container .content-area img[style^="float: left"] {
  margin: 0 15px 15px 0px !important;
  display: inline;
}
.container .content-area img[align="right"], .container .content-area img[style^="float:right"], .container .content-area img[style^="float: right"]{
  margin: 0 0 15px 15px !important;
  display: inline;
}

.inset-content (@PaddingTop: 12px, @PaddingRight: 12px, @PaddingBottom: 12px, @PaddingLeft: 12px) {
  padding: @PaddingTop @PaddingRight @PaddingBottom @PaddingLeft;
  background-color: rgb(224, 223, 223);
  background: rgba(204, 204, 204, 0.21);
  //.box-shadow(@shadow: 0px 0px 1px 1px rgba(0,0,0,.10)); --this is the version if you want the outline, insted of inset
  .box-shadow(@shadow: inset 0 0 9px 0px rgba(0, 0, 0, 0.05));
}

.inset-content {
  .inset-content;
}

.umbutton {
  font-size: 16px;
  color: @white;
  padding: 5px 10px;
  display: block;
  border-radius: 6px;
  #gradient > .vertical(#9e002a, #5e0009);
  border: 1px solid #330000;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 1), inset 0px 0px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 1), inset 0px 0px 1px rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1), inset 0px 0px 1px rgba(255, 255, 255, 1);
  text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.7), 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.umbutton:hover {
  color: @white;
  #gradient > .vertical(#580017, #5e0009);
}
