//
// Responsive: Phone
// --------------------------------------------------


@media (max-width: 480px) {
	.um_standard_header{

		.search .search_styles{
			background-color: transparent;
		}
		.navrightlinks_wrap li.icon a.icon-search {
		    display: block;
		}
	}
}
