//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (max-width: 1225px) {
    .events.span3 {
      .span(4);
    }

    .navrightlinks_wrap .nav>li>a, 
    .um_standard_nav.nav>li>a {
        font-size: (@baseFontSize - 2);
        padding: 10px 7px 10px;
    }
    .about_photo h4{
        font-size: (@baseFontSize * 1);
    }
    .navrightlinks_wrap .nav>.live_chat>a{
    	padding: 0;
    }
}
