//
// Responsive: Large desktop and up
// --------------------------------------------------


@media (max-width: 910px) {

    .about_photo h4 {
        font-size: (@baseFontSize - 1);
    }
    .um_standard_header .navbar .nav a.atoz {
        font-size: 14px;        
    }
}
