@media (max-width: @navbarCollapseWidth) {
  .live_chat {
    .hidden();
  }

  .jumbotron.jumbotron_mini {
    height: 35px;
    h1 {
      font-size: @fontSizeLarge;
      padding: 0px;
      line-height: 34px;
    }
  }

  .um_standard_header {
    .navbar {
      .navbar-inner {
        background-image: none;
        background-color: #fff;
        .container {
          padding: 0px;
          button {
            .icon-bar {
              background-color: #fff;
            }
            margin-left: 10px;
          }
          .brand {
            display: block;
            padding: 0;
            padding-top: 10px;
            border-top: 0px;
            width: 100%;
            margin: 0;
          }
          .navrightlinks_wrap {
            ul.nav {
              li {
                float: left;
              }
            }
          }
          .search.pull-left {
            margin-left: 0;
            float: right !important;
          }
          .pull-right {
            width: 100%;
          }
        }
      }
    }

    .navrightlinks_wrap li.icon a.icon-search {
      display: none;
    }
    .search {
      margin-left: 17px;
    }

    .search form {
      display: block;
    }
    .search .search_styles {
      background-color: @white;
      margin-right: 5px;
    }
    .navbar-inner {
      background-position: 50% 50%;
      .textured-gray;
      background-repeat: repeat;
    }
    .navbar-static .navbar-inner {
      padding: 0;
      border: 0px;
      .global-navigation {
        background-color: @white;
      }
    }

    .brand {
      float: none;
      text-align: center;
      border-top: 3px solid @maroon;
      margin-top: 49px;
      background-color: @white;
    }
    .navbar .nav li.dropdown > .dropdown-toggle .caret {
      display: none;
    }
    .navbar .um_standard_nav li.dropdown.open > [id^="dropdown_"] {
      background-color: transparent !important;
      color: #777 !important;
    }
    .navbar .um_standard_nav li.dropdown.open .dropdown-menu {
      display: none;
    }
    .navbar .btn-navbar.navicon {
      margin-top: 10px;
      margin-right: 10px;
      float: left;
      .buttonBackground(darken(@navbarBackgroundHighlight, 80%), darken(@navbarBackground, 60%));
      .border-radius(3px);
      margin-bottom: 9px;
    }
    .navbar .nav .myumt > a {
      padding: 0;
      margin-right: 0;
    }
    .navrightlinks_wrap li a.atoz {
      padding: 10px 0 0 0;
    }
    .navrightlinks_wrap li.icon a.icon-search, .navrightlinks_wrap li a {
      width: 55px;
    }
    .navbar .nav .myumt > a {
      display: block;
      //    margin: 0;
    }
    .navrightlinks_wrap li {
      text-align: center;
    }
    .navrightlinks_wrap li.icon a.icon-search {
      background-position: 25px 105px;
    }
    .navbar .navrightlinks_wrap ul .atoz {
      margin-top: 5px;
      text-align: center;
      padding: 10px 7px 10px;
    }
    li {
      padding: 0;
      margin: 0;

      a {
        padding: 0;
        margin: 0;
      }
    }

  }
}