@h1Size: (@baseFontSize * 1.618 * 1.618 );
@h2Size: (@baseFontSize * 1.618 );
@h3Size: (@baseFontSize * 1.2 );
@h4Size: (@baseFontSize * 1.07 );
@h5Size: (@baseFontSize * 1 );
@h6Size: (@baseFontSize * .85 );

p, ul, ol, h1, h2, h3, h4, h5, h6, blockquote {
  margin-top: (@baseLineHeight * 0);
  margin-bottom: (@baseLineHeight * 1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headingsFontFamily;
  font-style: normal;
  color: @gray;
  /*text-rendering: auto;*/

  a {
    border-bottom-color: transparent;
    text-decoration: none;
    color: @maroon;
  }
  a:hover {
    border-bottom-width: 1px;
  }
  a:after {
    content: " \00BB"
  }
}

h1 {
  font-size: (@h1Size * 1);
  line-height: (@h1Size * 1.35);
  margin-top: (@h1Size * .5);
  margin-bottom: (@h1Size * .3);
  font-weight: 300;
}

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  font-size: (@h2Size * 1);
  line-height: (@h2Size * 1.35);
  margin-top: (@h2Size * .8);
  margin-bottom: (@h2Size * .75 - 5);
}

h3 {
  font-size: (@h3Size * 1);
  line-height: (@h3Size * 1.2);
  /*margin-top: (@h3Size * 2);*/
  margin-bottom: (@h3Size * 1);
  font-weight: 600;
}

h4 {
  font-size: (@h4Size * 1);
  line-height: (@h4Size * 1.35);
  /*margin-top: (@h4Size * 2);*/
  margin-bottom: (@h4Size * 1);
  color: lighten(@gray, 10%);
  font-style: italic;
  font-weight: bold;
}

h5 {
  font-size: (@h5Size * 1);
  line-height: (@h5Size * 1.35);
  /*margin-top: (@h5Size * 2);*/
  margin-bottom: (@h5Size * 1);
  //color: lighten(@gray, 20%);
  font-style: italic;
  font-weight: bold;
}

h6 {
  font-size: (@h6Size * 1);
  line-height: (@h6Size * 1.35);
  /*margin-top: (@h6Size * 2);*/
  margin-bottom: (@h6Size * 1);
  //color: lighten(@gray, 30%);
  font-style: italic;
  font-weight: bold;
}

.small {
  font-size: 85%;
  line-height: 1.5em;
}

@media (max-width: 1199px) {
  h1 {
    font-size: (@h1Size * .9);
  }

  h2 {
    font-size: (@h2Size * .9);
  }
}

@media (max-width: 979px) {
  h1 {
    font-size: (@h1Size * .8);
  }

  h2 {
    font-size: (@h2Size * .8);
  }
}

a {
  color: @linkColor;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  transition: all .08s ease-out;
}

a:hover {

  text-decoration: none;
  color: lighten(@maroon, 9%);
  border-color: lighten(@maroon, 10%);
}

/*li {
  padding-left: 2px;
}*/

.jumbotron h1 {
  font-family: @headingsFontFamily;
}

h1.fine, h2.fine, h3.fine, h4.fine, h5.fine, h6.fine {
  font-family: @headingsFontFamily;
}

.site_container {
  .lead {
    color: @gray;
    font-family: @headingsFontFamily;
    font-style: italic;
    font-size: 22px;
    line-height: 28px;

  }
}