@gray-darker: @grayDarker;
@gray-dark: @grayDark;

@gray-light: @grayLight;
@gray-lighter: @grayLighter;

@body-bg: @bodyBackground;
@text-color: @textColor;

@link-color: @linkColor;
@link-hover-color: @linkColorHover;
@font-family-sans-serif: @sansFontFamily;
@font-family-serif: @serifFontFamily;
@font-family-monospace: @monoFontFamily;

@font-size-base: @baseFontSize;
@font-family-base: @baseFontFamily;

@headings-font-family: @headingsFontFamily;
@headings-font-weight: @headingsFontWeight;
@headings-color: @headingsColor;

@font-size-large: @fontSizeLarge;
@font-size-small: @fontSizeSmall;


@paddingLarge:          @padding-large-vertical @padding-large-horizontal; // 44px
@paddingSmall:          @padding-small-vertical @padding-small-horizontal;  // 26px
@paddingMini:          @padding-xs-vertical @padding-xs-horizontal;   // 22px


@border-radius-base: @baseBorderRadius;
@border-radius-large: @borderRadiusLarge;
@border-radius-small: @borderRadiusSmall;

@table-bg: @tableBackground;
@table-bg-accent: @tableBackgroundAccent;
@table-bg-hover: @tableBackgroundHover;
@table-border-color: @tableBorder;

@input-bg: @inputBackground;
@input-border: @inputBorder;
@input-border-radius: @inputBorderRadius;
@input-bg-disabled: @inputDisabledBackground;

@input-height-base: @inputHeight;

@dropdown-bg: @dropdownBackground;
@dropdown-border: @dropdownBorder;
@dropdown-divider-bg: @dropdownDividerTop;

@dropdown-link-color: @dropdownLinkColor;
@dropdown-link-hover-color: @dropdownLinkColorHover;
@dropdown-link-active-color: @dropdownLinkColorActive;

@dropdown-link-active-bg: @dropdownLinkBackgroundActive;
@dropdown-link-hover-bg: @dropdownLinkBackgroundHover;

@grid-float-breakpoint-max: @navbarCollapseWidth;
@grid-float-breakpoint: @navbarCollapseDesktopWidth;

@navbar-height: @navbarHeight;
@navbar-default-bg: @navbarBackground;
@navbar-default-border: @navbarBorder;

@navbar-default-color: @navbarText;
@navbar-default-link-color: @navbarLinkColor;
@navbar-default-link-hover-color: @navbarLinkColorHover;
@navbar-default-link-active-color: @navbarLinkColorActive;
@navbar-default-link-hover-bg: @navbarLinkBackgroundHover;
@navbar-default-link-active-bg: @navbarLinkBackgroundActive;

@navbar-default-brand-color: @navbarBrandColor;

@navbar-inverse-bg: @navbarInverseBackground;
@navbar-inverse-border: @navbarInverseBorder;

@state-warning-text: @warningText;
@state-warning-bg: @warningBackground;
@state-warning-border: @warningBorder;

@state-danger-text: @errorText;
@state-danger-bg: @errorBackground;
@state-danger-border: @errorBorder;

@state-success-text: @successText;
@state-success-bg: @successBackground;
@state-success-border: @successBorder;

@state-info-text: @infoText;
@state-info-bg: @infoBackground;
@state-info-border: @infoBorder;
