/*!
 * UM Homepage
 *
 * This LESS file is designed to be output to um-homepage.min.css.
 *
 * It includes all required external dependancies, and should be the single CSS file to include for layout.
 */

// UM GLOBAL INCLUDES
// -------------------------
// Start by including common UM stuff such as mixins, the header, and mixins.

@import "../um-global";

@import "../um-element-padding";
@import "../branding/um-informational";
@import "um-featured-links.less";
@import "um-tiles";
@import "um-photo";
@import "um-landing";
@import "um-jumbotron.less";
@import "um-social";

// Fix for old Androids not loading the SnapEngauge 1x1 tracker
#SnapABug_bImg{
	display: none;

}

script {
  background-color: #000;
  color: #FFF
}

@media (max-width: 992px) {
  .container.wide {
    padding-left: 0px;
    padding-right: 0px;
    .events {

    }
  }
}