
/* JUMBOTRON STYLES */
.jumbotron {
	background-size: cover;
	}

.landing.jumbotron {
	height: 400px;
	margin-bottom:30px;
	background-repeat: no-repeat;
	background-position: center top;
}

.landing.jumbotron h1 { 
	margin: 70px 0 0;
	padding: 15px 20px;
	}
	
.landing.jumbotron p {
	padding: 0 15px 10px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	}
	
.landing.jumbotron .light-transparent h1, .landing.jumbotron .light-transparent p {
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	}
	
.landing.jumbotron .light-on-dark h1, .landing.jumbotron .light-on-dark p {
	color: #fff;
	text-shadow: 2px 2px 5px #000;
        background: #999; /* The Fallback */
	background: rgba(0,0,0,0.35);
	}
	
.landing.jumbotron .dark-transparent h1, .landing.jumbotron .dark-transparent p {
	color: #000;
	text-shadow: 2px 2px 5px #fff;
	}
	
.landing.jumbotron .dark-on-light h1, .landing.jumbotron .dark-on-light p {
	color: #000;
	text-shadow: 2px 2px 5px #fff;
        background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255,255,255,0.35);
	}

.jumbotron.jumbotron_mini {
    height: 75px;
    margin-bottom:0px;
    overflow: hidden;
    background-repeat: no-repeat;
//    .box-shadow(0px 0px 8px 0px #888);
}

.jumbotron.jumbotron_mini > [class^="span"],
.jumbotron.jumbotron_mini > [class*=" span"] {
    width: auto !important;
    float: none;
}


.jumbotron.jumbotron_mini h1 {
    margin: 0;
}

.jumbotron.jumbotron_mini p {
    display: none;
}