/* LANDING PAGE BOX STYLES */

.landing-box {
  .umbox {
    h1, h2, h3, h4 {
      margin-left: 30px;
      margin-right: 30px;
    }

  }
  h1 {
    padding-left: 0px;
  }
  h1, h2, h3, h4 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .umbox p {
    padding-left: 30px;
    padding-right: 30px;
  }
  ul, ol {
    margin-left: 30px;
    padding-right: 15px;
    padding-left: 20px;
  }

  .no-padding {

    h1, h2, h3, h4 {
      margin-left: 0px;
      margin-right: 0px;
    }
    ul, ol {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

.umbox.box-padding {
  padding-right: 30px;
  padding-left: 30px;
}

.landing.events_feed span {
  display: block;
}

.landing.events_feed ul {
  margin-left: 0;
  list-style: none;
}

.landing.events_feed ul li .title a {
  color: black;
  font-weight: bold;
}

.landing.events_feed ul li {
  border-left: 3px solid @grayDarker;
  color: grey;
  font-size: @fontSizeSmall;
  list-style: none;
  padding-left: 8px;
  line-height: 20px;
  margin-bottom: 15px;
}

.landing.events_feed .more_events {
  padding-left: 11px;
}

.landing-transparent {
  margin-bottom: 30px;
}

/* LANDING PAGE ICONS */
ul.landing-icon > li {
  list-style: none outside none;
}

.admissions {
  .admissions-meta {
    padding-left: 15px;
    overflow: hidden;
    clear: both;
    h2 {
      margin-top: 0;
    }
    ul.list-unstyled {
      margin-left: 2px;
      padding-right: 0px;
      padding-left: 0px;
    }
    ul {
      padding-left: 0px;
    }
  }

  .landing-box {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    h2 {
      border-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }

    h2.fine + ul {
      margin-bottom: 0;
    }

    .apply_box {
      position: relative;
      background-position: top left;
      background-repeat: no-repeat;
      overflow: hidden;

      h2 {
        position: absolute;
        bottom: 0px;
        margin: 0px;
        padding-top: 5px;
        padding-right: 15px;
        display: block;
        font-family: "ProximaNovaT-Thin", "ProximaNova-Bold", "ProximaNova-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        a {
          color: @white;
          text-decoration: none;
          display: block;
        }
        background: rgb(0, 0, 0) transparent;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        text-align: right;
        font-weight: lighter;
      }
    }
  }

  .graduate_admissions {
    background-image: url('../imx/admissions/graduate.jpg');
    height: 235px;
  }

  .international_admissions {
    background-image: url('../imx/admissions/international.jpg');
    height: 235px;
  }

  .transfer_admissions {
    background-image: url('../imx/admissions/transfer.jpg');
    height: 235px;
  }
  .undergrad_admissions {
    background-image: url('../imx/admissions/undergraduate.jpg');
    height: 405px;
  }
  .missoula_college_admissions {
    background-image: url('../imx/admissions/missoula_college.jpg');
    height: 310px;
  }

  .no-padding {
    padding-left: 0px;
  }

}

.student-life {
  .landing-box {
    h2 {
      padding-left: 0px;
    }
    h2:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: 992px) {
  .landing-box {

    padding-left: 0px;
    padding-right: 0px;
    h1 {
      font-size: 22px;
      line-height: 26px;
    }
    h2 {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
