.photo {
  .box-shadow(0px 2px 10px 2px rgba(0,0,0,.15));
}

.photo img {
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0px;
}

.row-fluid.photo {
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 750px;
  margin-bottom: 25px;
}

.photo .events h3 {
  font-size: 20px;
  margin-top: 12px;
  color: @white;
  text-align: center;
  margin-bottom: 7px;
}

.photo .events .events_feed table {
  width: 100%;
  margin: 0;
}

.photo .events_feed table thead th {
  text-align: left;
}

.photo .events_feed img {
  width: auto;
  margin: 0 auto;
}

.photo .events_feed a {
  color: @white;
  border-bottom-color: @gray;
}

.photo .events_feed a:hover {
  border-bottom-color: @grayLight;
}

.photo .events_feed .start_time {
  padding-right: 10px;
  white-space: nowrap;
}

.photo .events_feed td {
  padding-bottom: 5px;
}

.photo .events_feed a {
  line-height: 15px;
}

.photo .events_feed .more_events {
  text-align: right;
  font-size: @fontSizeMini;
  padding: 0;
  margin: 0;
}

.photo .events_feed {
  font-size: @fontSizeSmall;
  line-height: 20px;
  margin-right: 20px;
  background: rgb(100, 100, 100);
  background: rgba(30, 30, 30, .75);
  color: @white;
  position: relative;
  padding: 0px 10px 10px 10px;
  border-radius: 0px 0px 5px 5px;
  .element-padding(0px, 0px);
}

.about_photo {
  .element-padding(0px, 0px);

  a {
    border-bottom: 1px solid @grayLight;
  }
}

.about_photo h4 {
  font-size: 14.75px;
  padding: 4px;
  background: rgb(100, 100, 100);
  background: rgba(30, 30, 30, .75);
  color: #fff;
  margin: 0px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
}

.about_photo h4 a {
  color: @white;
  border-bottom: none;
}

.about_photo h4 a:hover {
  border-bottom: 1px solid @grayLight;
}

.about_photo h4 a:after {
  content: none;
}

.about_photo .content p {
  text-align: left;
  margin-bottom: 10px;
}

.about_photo .separator p {
  margin: 0 0 5px;
}

.about_photo .separator {
  padding: 10px 0;
  color: #bbb;
  text-align: center;
}

.about_photo .content {
  a{
    color: #000;
  }
  padding: 12px;
  background-color: #d8d8d8;
}

.about_photo .button a:hover, .about_photo .separator a {
  text-decoration: none;
}

.about_photo .button a {
  display: block;
  color: white;
  padding: 5px 12px;
}

.about_photo .button {
  margin: 8px auto;
  text-align: center;
}

//These are for the previous photos.

.photo_archive_gallery, .link_archive_gallery {
  width: 90%;
  margin: 10px 5%;
  overflow: hidden;
}
.featured_photos h1 {
  text-align: center;
}

#mbTitle {
  p {
    padding:0;
    margin-bottom: 5px;
  }
}

.featured_photos a:hover
.featured_photos a {
  border-size: 0px;
}
#mbMedia img {
  margin: 0px;
}
.featured_photos .row-fluid {
  padding-bottom: 30px;
}
.featured_photos  img{
  margin: 0;
}
.photo_story {
  margin: 10px 0;
}

.featured_link h3 {
  text-align: center;
}

.photo_story img {
  border-radius: 15px;
}

.feature_title a {
  color: #fff;
}