.social_container {

  .element-padding(0px, 0px);

  margin: 15px 0 30px 0;

  h2 {
    margin: 0;
  }

  .section {
    padding-bottom: 10px;
    overflow: hidden !important;
  }

  .inset-content {

    h2 {
      margin: 0;
      border-bottom-color: @grayLight;
      color: @gray;
    }

    color: @gray;
    background-color: #F9F0CE;
    outline: 1px solid @grayLight;
    box-shadow: 0;
  }

  #mc_embed_signup {

    margin-bottom: 10px;
    padding: 5px;

    label {
      margin: 0 5px 5px 0;
    }

    h3 {
      font-size: 14px;
      line-height: 20px;
      font-weight: bold;
      margin: 0 0 3px 0;
      color: @gray;
    }

    p {
      line-height: 14px;
      margin-bottom: 10px;
    }

    input {
      width: 120px;
      margin: 0 5px 5px 0;
    }

    button {
      background: #4b7e24;
      #gradient > .vertical( #63a62f,#4b7e24);
      border: 1px solid #63a62f;
      border-bottom: 1px solid #5b992b;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
      box-shadow: inset 0 1px 0 0 #96ca6d;
      color: #fff;
      font-size: 13px;
      padding: 3px 5px;
      text-align: center;
      text-shadow: 0 -1px 0 #4c9021;
      margin: 0 5px 5px 0;
    }
    button:hover {
      #gradient > .vertical(#76b347, #5e9e2e);
      -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
      box-shadow: inset 0 1px 0 0 #8dbf67;
      cursor: pointer;
    }
    button:active {
      border: 1px solid #5b992b;
      border-bottom: 1px solid #538c27;
      -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
      box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    }
  }
}