.tile_wrapper .tiles {
  //set the line height just in case they forget to wrap their paragraphs in p tags.
  line-height: 17px;
  .element-padding(0px, 0px);
  p {
    color: #595959;
    line-height: 17px;
  }
}

.tile_row {
  margin-bottom: 22px;
}

.tile {
  height: @tileHeight;
  margin-bottom: 22px;

  .tile_wrap {
    height: (@tileHeight - 25px);
    overflow: hidden;

    img {
      width: 100%;
    }
  }
  .umbox {
    margin-bottom: 0;
  }
  .content {
    h3 {
      line-height: 22px;
      font-size: 19px;
      margin: 15px 0;
      a {
        color: @black;
        :hover {
          text-decoration: none;
          border-bottom: 0px;
          border-bottom-width: 0;
        }
      }
    }
    padding: 0 12px;
    font-size: @fontSizeSmall;

    a {
      color: @maroon;

    }
    a:after {
      content: "";
    }
    a:hover {
      border-bottom-color: @grayLight;
    }
  }
  .meta_data {
    clear: both;
    .timestamp, .categories_toggle {
      float: left;
      width: 50%;
    }
    .timestamp {
      p {
        color: #6d6d6d;
        padding: 0 12px;
        margin-bottom: 0px;
        font-size: @fontSizeMini;
        text-transform: uppercase;
        white-space: nowrap;

        @media (max-width: 845px) {
          padding: 0 5px;
        }
      }
    }
    .categories_toggle {
      text-align: right;
      font-size: @fontSizeMini;
      p {
        background: transparent url('/_common/assets/imx/expand_tile_categories.png') no-repeat right center;
        text-transform: uppercase;
        color: #6d6d6d;
        padding: 0 27px 0 0;
        margin: 0px;
        white-space: nowrap;
        @media (max-width: 845px) {
          padding: 0 21px 0 0;
        }
      }
      .categories_list {
        left: auto;
        right: 10px;

        text-align: left;
        li {

          padding: 0px;
          font-size: @fontSizeMini;
          a {
            text-decoration: none;
            border-bottom: 0px;
            padding: 3px 15px;
            span {
              padding-left: 11px;
              margin-right: 7px;
              overflow: hidden;
              background: none;
            }
          }
          a:hover {
            background: none;
            color: @black;
            text-decoration: underline;
          }
        }
        .academics {
          span {
            background: @academicsTileColor;
          }
        }

        .research {
          span {
            background: @researchTileColor;
          }
        }

        .athletics {
          span {
            background: @athleticsTileColor;
          }
        }

        .arts_and_culture {
          span {
            background: @artsCultureTileColor;
          }
        }

        .international {
          span {
            background: @internationalTileColor;
          }
        }

        .campus_and_community {
          span {
            background: @campusCommunityTileColor;
          }
        }
        .alumni {
          span {
            background: @alumniTileColor;
          }
        }
      }
    }
  }

  iframe {
    margin-bottom: 15px;
  }

  .category_class div p {
    .access_hidden();
  }
  .categories_1 .category_class {
    float: left;
    width: 100%;

  }
  .categories_2 .category_class {
    float: left;
    width: 50%;

  }
  .categories_3 .category_class {
    float: left;
    width: 33.33%;

  }
  .categories_4 .category_class {
    float: left;
    width: 25%;

  }
  .categories_5 .category_class {
    float: left;
    width: 20%;

  }
  .categories_6 .category_class {
    float: left;
    width: 16.66%;

  }
  .categories_7 .category_class {
    float: left;
    width: 14.28%;

  }

  .category_class {
    a {
      color: #000;
    }
    .academics {
      background-color: @academicsTileColor;
    }

    .research {
      background-color: @researchTileColor;
    }

    .athletics {
      background-color: @athleticsTileColor;
    }

    .arts_and_culture {
      background-color: @artsCultureTileColor;
      a {
        color: #fff;
      }
    }

    .international {
      background-color: @internationalTileColor;
      a {
        background-color: @internationalTileColor;
        color: #fff;
      }
    }

    .campus_and_community {
      background-color: @campusCommunityTileColor;
    }
    .alumni {
      background-color: @alumniTileColor;
      a {
        color: #fff;
      }
    }

    div {
      border-left: 1px solid #ededed;
    }
  }
  .category_class:first-child div {
    border-left: 0px;
  }
  .category_class, .category_class div {
    height: 4px;
  }
}

.happening_at_um {

  @media (max-width: 1060px) {
    display: none;
  }
  h2 {
    margin-top: 3px;
    padding-left: 0px;
    @media (max-width: 1225px) {
      font-size: (@h2Size * .7);
    }

    @media (max-width: 1150px) {
      padding-right: 10px;
    }

    @media (min-width: 1150px) {
      font-size: 18px;
    }
  }
  .nav {

    padding: 0;
    margin: 0;
    li {
      padding-left: 6px;
      padding-right: 6px;
      @media (max-width: 1225px) {
        padding-left: 3px;
        padding-right: 3px;
      }
      @media (max-width: 1150px) {
        font-size: @fontSizeMini;
      }

      a {
        border-bottom-width: 2px;
        padding: 17.5px 7px 0px;
        font-size: 13px;
        @media (max-width: 1225px) {
          padding: 17.5px 7px 0px;
        }
        @media (max-width: 1150px) {
          padding-left: 5px;
          padding-right: 5px;
        }
        @media (min-width: 1150px) {
          padding: 17.5px 8px 0px
        }

        @media (max-width: 1060px) {
          padding-left: 5px;
          padding-right: 5px;
        }
        @media (max-width: 1375px) {
          font-size: 10px;
        }
      }
    }

    .academics a {
      border-color: @academicsTileColor;
    }
    .research a {
      border-color: @researchTileColor;
    }
    .athletics a {
      border-color: @athleticsTileColor;
    }

    .arts_and_culture a {
      border-color: @artsCultureTileColor;
    }
    .campus_and_community a {
      border-color: @campusCommunityTileColor;
    }

    .alumni a {
      border-color: @alumniTileColor;
    }
    .international a {
      border-color: @internationalTileColor;
    }
  }
}

.more_tiles {
  border: 1px solid @grayLight;
  #gradient > .vertical(#f9f9f9, #e0e0e0);
  clear: both;
  overflow: hidden;
  text-align: center;
  margin: 10px 0;
  padding: 4px 0;

  a {
    text-decoration: none;
    color: @gray;
    display: block;
    border: 0px;
  }

  .content {
    padding: 0 10px;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 8px;
    border-top-color: #999;
  }
  .loading {
    margin: 0 30px;
  }
}
