
#modalForm .list-unstyled.sub-list {
  padding-left: 15px !important;
  font-size: 0.9em;
}

#modalForm .list-unstyled .highlight {
  color: @white;
}

/* MODAL
/*-------------------------------------------------------------- */
#modalForm  {
  text-align: left;
}

#modalForm p {
  text-transform: none;
  text-shadow: none;
  font-size: 1em;
  font-weight: 400;
}

#modalForm .modal-content {
  background: #f4f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  border: none;
}

#modalForm .modal-content.thanks {
  background: #67b871;
}

#modalForm .modal-content #map {
  position: relative;
  height: auto;
  margin-top: 0;
}

#modalForm .modal-content #map .map-inner {
  position: relative;
  display: table;
  width: 100%;
  height: 732px;
  background: #232c2f url('../images/bg_form_2.jpg') center center no-repeat;
  background-size: cover;
  color: #999999;
}

#modalForm .modal-content #map .logo-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px;
}

#modalForm .modal-content #map .logo-wrapper img {
  margin-bottom: 30px;
}

#modalForm .modal-content #map p strong {
  font-size: 23px;
}

#modalForm .modal-content #map ul {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: left;
}

#modalForm .modal-content #map ul li {
  position: relative;
}

#modalForm .modal-content #map ul li:before {
  position: relative;
  display: inline-block;
  content: '\2022';
  margin-right: 5px;
}

/* #modalForm .modal-content #map img {
   max-width: 100%;
   padding: 0;
   margin: 0;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   margin-left: -2px; }*/
#modalForm .modal-content #info .header {
  text-align: center;
  padding: 25px 0;
  background: #f4f5f5;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#modalForm .modal-content #info .header h2 {
  color: #6e7c80;
  margin: 0;
  font-weight: 200;
  font-size: 26px;

  text-align: center;
  padding: 5px 0;
  background: transparent;
  text-shadow: none;
}

#modalForm .modal-content #info .header p {
  margin: 0;
  color: #bababa;
  font-size: 14px;
  letter-spacing: .05em;

  text-shadow: none;
}

#modalForm .modal-content #info .thankyou {
  text-align: center;
  display: none;
}

#modalForm .modal-content #info .thankyou.active {
  display: block;
}

#modalForm .modal-content #info .thankyou img {
  margin-top: 50px;
}

#modalForm .modal-content #info .thankyou h3 {
  padding: 10px 20px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
}

#modalForm .modal-content #info .thankyou a {
  color: white;
  text-decoration: underline;
  font-weight: 300;
  display: block;
  margin-top: 10px;
}

#modalForm .modal-content #info .form {
  display: none;
}

#modalForm .modal-content #info .form.active {
  display: block;
}

#modalForm .modal-content #info .form input {
  width: 100%;
  display: block;
  border: none;
  padding-left: 30px;
  height: 65px;
  border-bottom: 1px solid #eff0f0;
  background: #fff;
  color: #666;
  position: relative;
}

#modalForm .modal-content #info .form label {
  font-weight: 200;
  line-height: 65px;
  padding-left: 30px;
  color: #a9a9a9;
}

#modalForm .modal-content #info .form span.error {
  position: relative;
  display: block;
}

#modalForm .modal-content #info .form span.error input {
  border: 1px solid #db4545;
  -webkit-box-shadow: 0 0 3px rgba(220, 70, 69, 0.59);
  -moz-box-shadow: 0 0 3px rgba(220, 70, 69, 0.59);
  box-shadow: 0 0 3px rgba(220, 70, 69, 0.59);
}

#modalForm .modal-content #info .form span.error:after {
  content: '';
  background: transparent url("../images/bg_error.png") 0 0 no-repeat;
  position: absolute;
  width: 76px;
  height: 38px;
  display: block;
  top: 15px;
  left: -85px;
}

#modalForm .modal-content #info .form .dropDown {
  width: 100%;
  display: block;
  border: none;
  height: 65px;
  border-bottom: 1px solid #eff0f0;
  background: #fff;
  color: #666;
  position: relative;
  overflow: hidden;
}

#modalForm .modal-content #info .form .dropDown ul {
  background: #3c4547;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 45%;
}

#modalForm .modal-content #info .form .dropDown ul li {
  display: none;
  padding-left: 50px;
  height: 65px;
  line-height: 65px;
  color: #898d8e;
  border-top: 1px solid #4f5859;
  cursor: pointer;
}

#modalForm .modal-content #info .form .dropDown ul li.active {
  background: transparent url("../images/btn_dropdown.png") no-repeat 20px center;
  color: #fff;
  border: none;
  display: block;
}

#modalForm .modal-content #info .form .dropDown ul li:hover {
  background: #50585a;
  color: #fff;
}

#modalForm .modal-content #info .form .dropDown ul li.active:hover {
  background: #50585a url("../images/btn_dropdown.png") no-repeat 20px center;
}

#modalForm .modal-content #info .form .dropDown:hover {
  overflow: inherit;
}

#modalForm .modal-content #info .form .dropDown:hover ul li {
  display: block;
}

#modalForm .modal-content #info .form button {
  margin: 30px auto 0;
  display: block;
  width: 90%;
}

#modalForm .modal-content .row {
  width: 100%;
  margin: 0;
}

#modalForm .modal-content .col-md-6.col-lg-6 {
  padding: 0;
}

#modalForm .modal-content button.close {
  position: absolute;
  top: 4px;
  right: 8px;
  z-index: 99;
  color: #666666;
  text-shadow: none;
  opacity: 1;
  font-weight: normal;
  font-size: 22px;
  font-weight: 600;
}

/* MOBILE FORM
-------------------------------------------------------------- */
#mobile_form {
  background: #f4f5f5;
  position: relative;
  border: none;
}

#mobile_form.thanks {
  background: #67b871;
}

#mobile_form .dropDown {
  width: 100%;
  display: block;
  border: none;
  height: 65px;
  border-bottom: 1px solid #eff0f0;
  background: #fff;
  color: #666;
}

#mobile_form #info .header {
  text-align: center;
  padding: 35px 0;
  background: #f4f5f5;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#mobile_form #info .header h2 {
  color: #6e7c80;
  margin: 0;
  font-weight: 200;
  font-size: 26px;
}

#mobile_form #info .header p {
  margin: 0;
  color: #bababa;
  font-size: 14px;
  letter-spacing: .05em;
}

#mobile_form #info .thankyou {
  text-align: center;
  display: none;
  background: #67b871;
}

#mobile_form #info .thankyou.active {
  display: block;
}

#mobile_form #info .thankyou img {
  margin-top: 50px;
}

#mobile_form #info .thankyou h3 {
  padding: 10px 20px 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
}

#mobile_form #info .thankyou #message a {
  color: white;
  text-decoration: underline;
  font-weight: 300;
  display: block;
  margin-top: 10px;
}

#mobile_form #info .thankyou #message + .btn-back {
  margin-bottom: 20px;
}

#mobile_form #info .form {
  display: none;
  padding-bottom: 1px;
}

#mobile_form #info .form.active {
  display: block;
}

#mobile_form #info .form select {
  margin: 22px 0 0 30px;
}

#mobile_form #info .form input {
  width: 100%;
  display: block;
  border: none;
  padding-left: 30px;
  height: 65px;
  border-bottom: 1px solid #eff0f0;
  background: #fff;
  color: #666;
  position: relative;
}

#mobile_form #info .form label {
  font-weight: 200;
  line-height: 65px;
  padding-left: 30px;
  color: #a9a9a9;
}

#mobile_form #info .form span.error {
  position: relative;
  display: block;
}

#mobile_form #info .form span.error input {
  border: 1px solid #db4545;
  -webkit-box-shadow: 0 0 3px rgba(220, 70, 69, 0.59);
  -moz-box-shadow: 0 0 3px rgba(220, 70, 69, 0.59);
  box-shadow: 0 0 3px rgba(220, 70, 69, 0.59);
}

#mobile_form #info .form button, #mobile_form #info .form .btn-back {
  margin: 20px auto;
  display: block;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
}