// Variables

@primary: #67b871;
@applyButton: #46A546;
@guideButton: #049CDB;
@dark: @BrandBlack;
@light: @BrandWhite;
@darkfade: #080e10;
@formText: #999999;
@formHeaderBackground: #232c2f;


  /***Brand Color***/
@BrandMaroon: #5e001d;
@BrandBlack: #000;
@BrandWhite: #fff;
@BrandDarkGray: #8c8e90;
@BrandLightGray: #d5cdc5;
@BrandWebCream: #fbfbf5;
@BrandGreen: #aba30a;
@BrandBlue: #00476b;
@BrandOrange: #d7822d;
@BrandBrown: #311c0f;

/**Accent Color**/
@AccentPurple: #693C64;
@AccentTeal: #009989;
@AccentOrange: #F85931;
@AccentYellow: #EDB92E;
@AccentGreen: #A3A948;
@AccentRed: #77000B;

/*background fade mixin*/
.fade-background-section (@direction, @bgcolor) {
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FF171F21');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, fade(@bgcolor, 0%)), color-stop(100%,  @bgcolor));
  background-image: -webkit-linear-gradient(@direction, fade(@bgcolor, 0%) 0%, @bgcolor 100%);
  background-image: -moz-linear-gradient(@direction, fade(@bgcolor, 0%) 0%, @bgcolor 100%);
  background-image: -o-linear-gradient(@direction, fade(@bgcolor, 0%) 0%, @bgcolor 100%);
  background-image: linear-gradient(@direction, fade(@bgcolor, 0%) 0%, @bgcolor 100%);
}

.dark-text() {
  h1, h2, h3, h4, h5, h6, p, ul {
    color: @BrandBlack;
  }
}