#emergency_content {
  width: 100%;
  margin: 0 0 15px 0;
  overflow: auto;
  padding-bottom: 15px;
  max-height: 400px;
  color: @white;
  border-top: 2px solid #4b4b4b;
  position: relative;
  a:after {
    content: none !important;
  }
  .ems_message_head {
    margin-bottom: 10px;
  }
  h1 {
    font-size: (@baseFontSize * 2.3);
    white-space: pre-line;
    p {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  h2 {
    font-size: (@baseFontSize * 1.5);
    border-bottom: 0px;
    display: inline;
  }
  h1, h2, p {
    color: white;
  }
  p {
    font-size: (@baseFontSize * 1.2);
    margin-bottom: 15px;
  }
  * {
    color: @white !important;
  }
  .ems_timestamp {
    display: inline;
    font-size: (@baseFontSize * .9);
    font-style: italic;
    padding-left: 5px;
  }
  .ems_dismiss {
    position: absolute;
    right: 20px;
    top: 10px;

    a {
      border-bottom: none;
    }
  }
}
.emergency.container {
  border-bottom: 1px solid @grayLight;
}
.ems_critical,
.ems_warning,
.ems_info {
  padding: 15px 0 0 0;
}

.ems_critical {
  background-color: #a40000;
}

.ems_warning {
  background-color: #c27629;
}

.ems_info {
  background-color: #00476b;
}