.um_standard_footer {
  text-align: center;
  margin: 15px 0px 15px 0px;
  clear: both;
  ul {
    padding: 7px 11px;
    margin: 0 auto;
  }
  ul.box {
    padding: 6px 8px;
    background-color: #fff;
    border: 1px solid @grayDark;
    border-radius: 7px;
    width: 560px;
  }
  li {
    display: inline;
    padding: 0px 12px;
    border-right: 1px solid @grayLight;
    color: @gray;
    font-size: 12px;
    a {
      color: @gray;
      text-decoration: none;
    }
    a:hover {
      color: @black;
    }
  }
  li.last {
    border-right: 0px;
  }
}

@media (max-width: 979px) {
  .um_standard_footer {
    padding-bottom: 30px;
    overflow: hidden;
    ul{
      li{
        display: block;
        width: 50%;
        margin: 0;
        padding: 0;
        float: left;
        line-height: 30px;
        border: 0px;
        a {
          border: 0px;
        }
      }
    }
  }
}