@import "../um-navbar";

/*
This is code for making the background svg logo for mobile

.brand.umlogo {
  display: block;
  height: 30px;
  width: 163px;
  background: transparent url('@{assetsPath}imx/um-logo.svg') top left no-repeat;
  margin: 8.75px 20px 8.75px 0px;
  padding: 0px;
}

*/
// Accessible Nav
#accessibenav {
  position: fixed;
  top: 0;
  left: -9999px;
  color: @black;
}

#accessibenav a:focus {
  position: fixed;
  top: 0px;
  left: 18px;
  font-size: 18px;
  padding: 15px;
  z-index: 50;
}

#accessibenav a:before {
  content: "Skip to: ";
}

#accessibenav a:focus {
  .box-shadow(0px 0px 8px 0px #888);
  background-color: #ffffe1 !important;
  outline: 1px solid #282828;

  a {
    color: @black;
  }
}

.um_standard_header {
  li {
    padding: 0;
  }
  a {
    text-decoration: none;
    border: 0;
  }
  .box-shadow(@shadow: 2px 2px 15px 3px rgba(0,0,0,.25));
  border-bottom: 1px solid @navbarBorder;
  position: relative;
  z-index: 30;
  line-height: 20px;
  .element-padding(0px, 0px);

  .umicon-search {
    background-position: 0px 0px;
    height: 16px;
    width: 16px;
    display: block;
    background-image: url('@{assetsPath}imx/icons.png');
  }
  li.live_chat {
    a {
      padding: 0;
      margin-top: 11px;
      margin-right: 6px;
      img {
        padding: 0;
        margin: 0;
      }
    }
    padding-left: 0;
    margin-left: 2px;
  }
  .um_standard_nav {
    margin-top: 5px;
  }
  .navbar .navrightlinks_wrap ul {
    padding: 0;
    margin: 0;
    font-size: @fontSizeSmall;
  }
  .navbar .navrightlinks_wrap ul .atoz {
    margin-top: 4px;
    padding: 10px 8px;
  }
  .navbar .nav .myumt > a {
    background: @maroon;
    border-radius: 5px;
    color: @white;
    text-shadow: none;
    border: 1px solid darken(@maroon, 15%);
    padding: 1px 8px 0 8px;
    margin: 11px 18px 0 10px;
  }
  .navbar .nav .myumt a:hover {
    background: lighten(@maroon, 5%);
    .box-shadow(@shadow: inset 1px 1px 2px 2px rgba(0,0,0,.15));
    text-shadow: 1px 1px 1px @black;
  }
  .navbar .navbar-inner {
    border-radius: 0;
    border: 0px;
    .box-shadow(@shadow: 0px 0px 0px 0px rgba(0,0,0,0));
  }
  .navrightlinks_wrap {
    margin-top: 0px;
  }
  .search {
    margin-top: 11px;

    .search_styles {
      border: 1px solid @grayLight;
      border-radius: @baseBorderRadius;
      font-size: @fontSizeMini;
      color: @grayLight;
      .box-shadow(@shadow: inset 2px 2px 7px 0px rgba(0,0,0,.1));
      overflow: hidden;
    }

    .search_styles .search_input {
      border: 0;
      padding: 5px;
      padding: 0 8px;
      font-size: 12px;
      background: transparent;
      color: @grayLight;
      width: 140px;
    }
    .search_styles .search_input.search_focus {
      color: @grayDark;
    }
    .search_styles button {
      height: 23px;
      border: 0;
      width: 28px;
      padding-left: 6px;
      padding-right: 7px;
      padding-bottom: 7px;
      padding-top: 3px;
      .box-shadow(@shadow: 2px 2px 10px 2px rgba(0,0,0,.15));
      #gradient > .vertical(#fff, #e0e0e0);
    }
    .search_styles button:hover {
      #gradient > .vertical(#e0e0e0, #fff);
    }

  }
}