@umNavColumnPadding: 2%;
@umNavColumnMargin: 3%;
@umNavColumnBorder: 1px;
@umNavTopBorderSize: 7px;
@umNavBottomBorderSize: 7px;

.um_standard_header .dropdown-menu {
  margin-top: 0px;
  padding-top: 0;
  padding-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  .column {
    display: block;
    min-height: 260px;
    float: left;
    overflow: hidden;
    padding: 8px @umNavColumnPadding;
    margin-right: @umNavColumnMargin;
    a {
      color: @black;
      display: block;
      padding: 4px;
    }

    h3 {
      line-height: (@baseFontSize + 6);
      font-size: 16px;
      margin: 5px 0 8px 4px;
    }
    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      font-size: @fontSizeSmall;

      li {
        margin: 0 0 0px 0;
        line-height: (@fontSizeSmall + 2);
      }
    }
  }
}

.um_standard_header .column:last-child, .um_standard_header .column.column_last {
  margin-right: 0;
}

.um_standard_header {

  .navbar .nav > li > .dropdown-menu {
    border-top-width: 7px;
    border-top-style: solid;
    padding-bottom: 50px;
    background: #fafafa;
    h2 {
      margin: 0;
      padding: 0;
      border: 0px;
      overflow: hidden;
      clear: both;

      position: absolute;
      width: 100%;
      bottom: 0;
      a {
        color: @white;
        font-weight: 300;
        padding-right: 70px;
        background: url('/_common/assets/imx/go-arrow.png') no-repeat right center;
        display: block;
        padding: 4px 20px;
        &:after {
          content: "";
        }
      }
    }

    &.dropdown_admissions {
      border-top-color: @admissionsColor;
      h2 {
        background-color: @admissionsColor;

      }
    }
    &.dropdown_academics {
      border-top-color: @academicsColor;
      h2 {
        background-color: @academicsColor;
      }
    }
    &.dropdown_research {
      border-top-color: @researchColor;
      h2 {
        background-color: @researchColor;
      }
    }
    &.dropdown_athletics {
      border-top-color: @athleticsColor;
      h2 {
        background-color: @athleticsColor;
      }
    }
    &.dropdown_student-life {
      border-top-color: @studentLifeColor;
      h2 {
        background-color: @studentLifeColor;
      }
    }
  }
}

.navbar .nav > li > .dropdown-menu {
  border: none;
  left: auto;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  text-shadow: none;
  .border-radius(3px 3px 0 0);
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_admissions,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_admissions,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_admissions {
  background-color: @admissionsColor;
  color: @admissionsTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_academics,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_academics,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_academics {
  background-color: @academicsColor;
  color: @academicsTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_research,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_research,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_research {
  background-color: @researchColor;
  color: @researchTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_athletics,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_athletics,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_athletics {
  background-color: @athleticsColor;
  color: @athleticsTextColor;
}

.navbar .nav li.dropdown.open > .dropdown-toggle.dropdown_student-life,
.navbar .nav li.dropdown.active > .dropdown-toggle.dropdown_student-life,
.navbar .nav li.dropdown.open.active > .dropdown-toggle#dropdown_student-life {
  background-color: @studentLifeColor;
  color: @studentLifeTextColor;
}

@umNavcolumnTotalWidth: 850px;

.um_standard_header {
  .dropdown {

    .dropdown-menu.columns_1 {
      width: (@umNavcolumnTotalWidth * .25);
    }
    .dropdown-menu.columns_2 {
      width: (@umNavcolumnTotalWidth * .5);
    }
    .dropdown-menu.columns_3 {
      width: (@umNavcolumnTotalWidth * .68);
    }
    .dropdown-menu.columns_4 {
      width: (@umNavcolumnTotalWidth * 1);
    }

    .columns_1 .column {
      width: (100% - ((@umNavColumnPadding + @umNavColumnMargin) - 1%)) - @umNavColumnBorder;
    }
    .columns_2 .column {
      width: (50% - ((@umNavColumnPadding + @umNavColumnMargin)) - 1%) - @umNavColumnBorder;
    }
    .columns_3 .column {
      width: 30%;
    }
    .columns_4 .column {
      width: (25% - ((@umNavColumnPadding + @umNavColumnMargin)) - 1%) - @umNavColumnBorder;
    }
  }

}
