.atoz #alphabet {
  color: #313131;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11pt;
  height: 67px;
  margin: 20px 0px 0px 0px;
}

.atoz #alphabet ul {
  list-style: none;
  padding: 0;
}

.atoz #alphabet li {
  float: left;
  overflow: hidden;
  width: (100% / 28);
  text-align: center;
  border-bottom: 1px solid #c3c3c3;
  padding: 19px 0px 0px 0px;
  height: 42px;
}

.atoz #alphabet li a {
  border-bottom: none;
}

.atoz #alphabet li.azLetterOn {
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-image: url(../imx/az_selected.gif);
  background-repeat: no-repeat;
  height: 60px;
  width: 46px;
  padding-top: 11px;
}

.atoz .atozlist {
  background-color: #EAEAEA;
}

.atoz .atozlist li {
  font-size: 14px;
  padding: 8px 6px 8px 10px;
  display: block;
  list-style-type: none;
}

.atoz .atozlist .odd {
  background-color: #fbfbfb;
}

.atoz .suggest_content {
  margin-top: 125px;
}

.atoz .atozlist {
  padding-left: 0;
}