// General imports for template
// --------------------------------------------------
@import "../../twitter/bootstrap/v2.3.2/variables.less";
@import "../../twitter/bootstrap/v2.3.2/mixins.less";
@import "../um-variables.less";
@import "../um-mixins.less";
@import "../um-type.less";

#maincontent {

  // Main content imports
  // ------------------------------------------------
  @import "../../twitter/bootstrap/v2.3.2/sprites";
}

.ai1ec-stream-view .ai1ec-date-title {
  background-color: #5e001d;
}

.timely a {
  color: #00476b;
}

.sr-only {
  .access_hidden();
}

.ai1ec-main-container, .sidebar {
  padding-top: 15px;
}

.timely.ai1ec-calendar-toolbar {
  display: none;
}

.um.site_container .navbar {
  margin-bottom: 0;
}

.um.site_container .navbar .site-brand .brand {
  margin-top: 18px;
}

.ai1ec-stream-view {
  .ai1ec-date-title h3 {
    padding: 2px;
    margin: 0;
    font-size: 1em;
    a:after {
      content: '';
    }
  }

  .ai1ec-event-title h4 {
    font-style: normal;
    padding: 1px 0;
    margin: 0px;
    font-size: 1em;
    a:after {
      content: '';
    }
  }
}

.ai1ec-posterboard-view {
  .ai1ec-event-title h3 {
    padding: 1px 0;
    display: inline;
    margin: 0px;
    line-height: 31.5px;
    font-family: "League Gothic", Impact, "Arial Black", Arial, sans-serif;
    font-size: 30px;
    a:after {
      content: '';
    }
  }
}

.sidebar {
  .well.sidebar-nav {
    min-height: 700px;
  }
  h4 {
    margin-top: 0px;
  }
}