// General imports for template
// --------------------------------------------------

@import "../variables.less";
@import "../mixins.less";
@import "../um-variables.less";
@import "../um-type.less";

#maincontent
{

  // Main content imports
  // ------------------------------------------------
  @import "../sprites";
  @import "../button-groups";
  @import "../buttons";
  @import "../forms";
  @import "../dropdowns";
  @import "../progress-bars";
  @import "../tables";
  @import "../alerts";
  @import "../pagination";


  // App wide styles
  // ------------------------------------------------

  .masthead { background-color: rgb(66, 66, 66); }

  .jumbotron.jumbotron_mini,
  .landing.jumbotron_mini
  {
    height: auto !important;
  }

  .jumbotron.jumbotron_mini h1 { font-size: 35px; padding: 15px 20px; }
  
  .jumbotron.jumbotron_mini.standard-layout.masthead.landing { clear:both; }

  table
  {
    width: 96% !important;
  }

  .padding-align-center
  {
    text-align: center;
    padding-bottom: 15px;
  }

  select { width: 206px; }

  .width5 { width: 5% !important; }
  .width10 { width: 5% !important; }
  .width15 { width: 15% !important; }
  .width1428 { width: 14.28% !important; }
  .width167 { width: 16.66667% !important; }
  .width20 { width: 20% !important; }
  .width25 { width: 25% !important; }
  .width30 { width: 30% !important; }

  .clickable{ cursor: pointer; }


  // Back end styles
  // ------------------------------------------------

  form.delete
  {
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display:inline;
  }

  .nocontent
  {
    background-color: @tableBackgroundAccent;
    text-align: center;
    font-style: oblique;
    border-color: @grayDark;
    border: solid 1px @grayLighter;
    height: 25px;
  }

  table td.talignright, th.talignright { text-align: right; }

  input.textwidth70 { width:70%; }

  a.width100 { width: 100%; }

  h3.showlab
  {
    border-bottom: 1px solid @grayLighter;
    margin-top: 30px;
    font-size: @h3Size + 2;
    padding-left: 20px;
  }



  // Front end (search) styles
  // ------------------------------------------------
  
  .toggle 
  { 
    margin-top:7px;
    margin-bottom:5px;
    margin-right:0px;
    margin-left: 0px;
    background-color:#ECECEC;
    border:1px solid #CECCCC;
    padding: 10px;
    display:none;
    .border-radius( 5px );

  }
  
  #advanced { margin-top: 2px; }
  
 .search-result
 {
   margin-bottom: @baseLineHeight !important;
   padding: 10px;
   background-color: @tableBackground;
   border: solid 1px @grayLighter !important;
   .border-radius( 3px );
  }

  .search-result-odd
  {
    background-color: @tableBackgroundAccent !important;
  }

  .no-padding
  {
    padding: 0px;
  }

  .small-margins
  {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  a:hover.software-tag,
  a:visited.software-tag,
  a:link.software-tag
  {
    margin-top:0;
    margin-bottom:5px;
    padding:10px;
    border: 1px solid #CCCCCC !important;
    text-align:center;
    background-color:#F8F8F8;
    .border-radius( 2px );
    display:block;
  }

  a:hover.software-tag
  {
    background-color: @tableBackground !important;
  }

  .pages-search-btn
  {
    margin: 0 0 0 -4px;
    padding: 4px 12px 5px 12px;
    .border-radius-custom(0, 4px, 4px, 0);
  }

  .pages-search-input
  {
    width:50%;
    margin: 0!important;
    .border-radius-custom(4px, 0, 0, 4px);
  }

  .result-header
  {
    font-size: 20px;
    line-height: 18px;
  }

  .item
  {
    img { margin-bottom:10px; }

    &.list-group-item
    {
      float: none;
      width: 100%;
    }

    &.list-group-item img { float:left; }

    &.list-group-item:before,
    &.list-group-item:after
    {
      display: table;
      content: " ";
    }

    &.list-group-item:after { clear:both; }
  }

  #buildings .item.list-group-item h3 { padding-top: 60px; }

  @media (max-width: 767px)
  {

    .item
    {
      float: none;
      width: 100%;

      img { float:left; }

      &:before,
      &:after
      {
        display: table;
        content: " ";
      }

      &:after { clear:both; }

    }

    #buildings .item h3 { padding-top: 60px; }

  }

  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus
  {
    .clickable;
  }

  .container-result
  {
    padding:10px 15px 0 15px;
    clear: both;

    &:before, &:after
    {
      display: table;
      content: "";
      line-height: 0;

    }

    .result-tag
    {
      margin: 5px 0;
      cursor: pointer;
      color: #fff;
      display: inline-block;
      padding: 5px 4px 4px 5px;
      font-weight: 300;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      .border-radius(.25em);
      background-color: @btnPrimaryBackground;
    }

    .container-result-tag
    {
      width:100%;
      display:inline-block;
      border-left: 1px dotted #BDBDBD;
      min-height: 140px;
      padding-left:10px;
      padding-right:100px;
    }

    .container-result-tag:before, .container-result-tag:after
    {
      box-sizing:border-box;
    }

    h3
    {
      margin-top:15px;
      margin-bottom:0px;
    }

    ul
    {
     list-style-type:none;
    }

  }

  .container-result-row
  {
    display:block;
  }

  h3.toggle-info, h3.toggle-info-selected
  {
    background-color: #F7F7F7;
    padding: 13px;
    border: 1px solid #DDD;
    margin-top: 10px;
    margin-bottom: 10px;
    .border-radius(3px);
    font-size: 24px
  }

  h3.toggle-info-selected
  {
    background-color: #FFFFFF;
  }

  .span12.filter-sidebar
  {
    margin-top:7px;
    margin-bottom:5px;
    margin-right:0px;
    margin-left: 0px;
    background-color:#ECECEC;
    border:1px solid #CECCCC;
    .border-radius( 5px );
    padding: 2px;

    form select
    {
      width: 45%;
    }

    form label
    {
      padding-top: 10px;
      font-weight: 600;
    }
  }

  @media (max-width: 1200px) and (min-width: 771px)
  {
    form select.select-sidebar
    {
      width: 100%!important;
    }

    form .text
    {
      margin:auto;
    }
  }

  @media(max-width: 767px)
  {
    #software_advanced_nav_tagsinput
    {
      width: 93%!important;
    }
  }

  .labs-container
  {
    background-color: @tableBackgroundAccent;
    margin-bottom:10px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #CECCCC;
    .border-radius( 5px );

    .labs-header
    {
      margin-bottom: 8px;
      border-bottom: 1px dotted #D6D6D6;
    }

    .access.alert
    {
      font-size: 14px;
      padding:2px 0 2px 10px;
      margin-bottom: 0;
      float:none;
    }
  }

  ul.lab_results > li
  {
    list-style-type: none;
    margin: 0px;
  }

  .software-container
  {
    margin-top: 10px;
    padding: 5px;
    border: 1px dotted #D6D6D6;
    display:none;
    background-color: #FFFFFF;

    .result-tag
    {
      margin: 5px 0;
      cursor: pointer;
      color: #fff;
      display: inline-block;
      padding: 5px 4px 4px 5px;
      font-weight: 300;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      .border-radius(.25em);
      background-color: @btnPrimaryBackground;
    }
  }

  .full-info
  {
    display:none;
  }

  #software_advanced_nav_tagsinput
  {
    &.tagsinput span.tag
    {
      border: 0;
      margin: 5px 2px 0 0;
      cursor: pointer;
      color: #fff;
      display: inline-block;
      padding: 5px 4px 4px 5px;
      font-weight: 300;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      .border-radius(.25em);
      background-color: @btnPrimaryBackground;
    }
  }

  p.time-text
  {
    padding-right: 0px;
  }

  img.lab-picture
  {
    margin-left: 0;
    margin-top: 30px;
  }

  label.sort, select.sort
  {
    display: inline-block;
    padding-left: 10px;
  }

  .computer-tag
  {
    padding: 4px 35px 4px 4px;
    margin-bottom:0;
    font-size: 85%;
  }

  .indent
  {
    margin-left: 20px;
  }

  .font-90
  {
    font-size: 90%;
  }
  
  .time.container-fluid
  {
    padding: 0 10px;
  }

  .soft-border{ border-bottom:1px solid #eee; }

  h3.lab-heading{ border-bottom:0px; margin-bottom:0px; }

  .seat-text{ margin-top:30px;margin-bottom:0px; text-align:right; }

  .no-padding{ padding:0px; }

  h2.primary-heading
  {
    text-align:center;
    border-bottom:0px;
    font-size:36px
  }

}
