@import "../../twitter/bootstrap/v2.3.2/variables";
@import "../../twitter/bootstrap/v2.3.2/mixins";
@import "../um-variables";
@import "../um-type";

//@import "../um-mixins";
#maincontent {
  @import "../../twitter/bootstrap/v2.3.2/tables";
  @import "../../twitter/bootstrap/v2.3.2/button-groups";
  @import "../../twitter/bootstrap/v2.3.2/forms";
  @import "../../twitter/bootstrap/v2.3.2/navbar";
  @import "../../twitter/bootstrap/v2.3.2/sprites";
  @import "../../twitter/bootstrap/v2.3.2/alerts";
  @import "../../twitter/bootstrap/v2.3.2/buttons";

  .masthead .account-management {
    ul {
      margin-right: 0;
      padding: 2px 0;
      margin-bottom: 7px;
      a {
        margin: 0;
        padding: 2px 0;
        font-size: smaller;

        border: 0px;
      }
    }
  }

  .nav {
    background-color: white;
  }

  .my-mainpage form {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .no_margin {
    margin: 0;
  }

  .top-level-bar {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    text-align: center;
  }

  .top-level-bar a {
    border: none;
    display: block;
    min-height: 70px;
  }

  .top-level-bar img {
    display: block;
    width: 32px;
    height: 32px;
    padding-bottom: 5px;
  }

  .top-level-bar li {
    display: inline-block;
    width: 90px;
    vertical-align: top;
    zoom: 1;
    *display: inline; //IE7 fix
    width: 90px;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    line-height: 14px;
    img{

      margin: 0 auto;
    }
  }

  .top-level-bar li:hover {
    border: 1px solid
  }

  .top-level-bar li:hover,
  .top-level-bar li:focus,
  .top-level-bar li:active {
    text-decoration: none;
    background-color: #e5e5e5;
    background-color: rgba(0, 0, 0, 0.11);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .5);
    border: 0;
  }

  .umbox {
    min-height: 0;
  }

  .upcoming_events_container h2, .cmmt_sug_container h2, .my-announcements-container h2 {
    padding-left: 5px;
  }

  .upcoming_events_container {
    margin-bottom: 30px;
  }

  .events_container {
    margin-left: 5px;
  }

  .more_events_container {
    margin-left: 5px;
  }

  .events_item {
    margin-bottom: 14px;
  }

  .events_item small {
    display: block;
    margin-bottom: 0;
  }

  .section {
    margin-bottom: 30px;
  }

  .section h2 {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
  }

  .section h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .category {
    margin-top: 15px;
  }

  .category ul {
    margin-bottom: 0;
  }

  .section_link div {
    margin-left: 30px;
  }

  .section-links {
    margin-top: 15px;
    margin-bottom: 22.5px;
  }

  .events_time_column {
    min-width: 60px;
  }

  .events_item:nth-child(even) {
    background: rgba(0, 0, 0, 0.06);
  }

  .events_item {
    margin: 0;
    padding: 5px 5px;
  }

  .more_events_container {
    margin: 10px;
    text-align: center;
  }

  .section_management {
    margin-top: 5px;
    margin-right: 5px;
  }

  .announcement_item {
    padding: 5px;
  }

  .myannouncement img {
    margin: 0 0 30px 0;
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: translateZ(0);
  }

  .myannouncement:hover img,
  .myannouncement:active img,
  .myannouncement:focus img {
    opacity: 0.75;
  }

  a {
    border-bottom: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {

  }

  @media (min-width: 768px) {
    .masthead h1 {
      margin-left: -50px;
      padding-top: 25px;
    }

    .masthead .toggleaudience {
      text-align: right;
    }
  }

  .masthead {
    background-color: rgb(66, 66, 66);
  }

  .masthead a {
    color: #fff;
    padding: 10px;
    margin: 15px 5px 5px 5px;
    display: inline-table;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 2px 2px 2px #272727;
    border: 1px solid #555;
  }

  .masthead a:hover {
    color: #fff;
  }

  .masthead a.active {
    background-color: rgb(54, 54, 54);
    font-weight: bold;
    border: 1px solid #272727;
  }

  .jumbotron.jumbotron_mini,
  .landing.jumbotron_mini {
    height: auto !important;
    h1{
      color: #FFF;
    }
  }

  @media (max-width: 979px) {
    .masthead,
    .masthead .toggleaudience {
      text-align: center;
    }

    .top-level-bar img {
      margin: 0 auto;
      padding: 0;
    }

    .top-level-bar {
      text-align: center;
    }

    .jumbotron.jumbotron_mini h1 {
      font-size: 35px;
      padding: 15px 20px;
    }

    .myannouncement img {
      padding: 0;
    }
  }

}

.my-dialog form input, .my-dialog form select {
  display: block;
  margin-bottom: 5px;
}


