//@import "../branding/um-search-form.less";
@import "../um-global";
@import "../homepage/um-jumbotron.less";
@import "um-atoz.less";

.umbox {
  padding: 0 30px;
}

.container.wide {
  width: auto;
  max-width: 1500px;
}

.gsc-results {
  .gsc-cursor-box {
    .gsc-cursor-page {
      padding: 0px 3px;
    }
    .gsc-cursor {
      margin: 0 auto;
      display: block;
      width: 210px;
    }
  }
}


.search_results {
  min-height: 400px;
  line-height: 18px;
  ol {
    list-style: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  h2 {
    font-size: 25px;
    line-height: 25px;
    margin: 0px 0px 5px 0px;
  }
  li {
    padding: 6px 0px;
    p {
      padding: 0px;
      margin-bottom: 0;
    }
    p.url {
      a {
        color: #050;
        text-decoration: none;
      }
    }
  }
}

#cse {
  div.gs-visibleUrl.gs-visibleUrl-short {
    display: none;
  }
  div.gs-visibleUrl.gs-visibleUrl-long {
    display: block;
  }
  .gsc-result {
    margin-bottom: 5px;
    padding-bottom: 15px;
    border: 0;
  }
  .gsc-result-info {
    display: none;
  }
  .gsc-wrapper {
    margin-top: 15px;
  }
}

.gsc-above-wrapper-area {
  border: none !important;
  padding: 0 !important;
}

.acronym_description {
  display: none;
}

.acronyms_results {
  li {
    padding: 0;
  }
}

.more_results {
  text-align: right;
}

.search_results li a, .gs-result .gs-title, .gs-result .gs-title * {
  color: @maroon !important;
  font-size: 1.2em;
}

.extra_results {
  font-size: 12px;
  a {
    text-decoration: none;
  }
  ul {
    padding-left: 0px;
  }

  h2 {
    margin-bottom: 8px;
  }
  .name {
    font-size: 16px;
  }
  .results {
    margin-bottom: 30px;
  }
  .people_results {
    li {
      margin: 15px 0;
    }
  }
}

@media (min-width: @navbarCollapseDesktopWidth) {
  .extra_results .results {
    display: block !important;
  }

  .tab_headings {
    display: none;
  }
}

@media (max-width: @navbarCollapseWidth) {
  .umbox {
    padding: 0 10px;
  }

  .extra_results h2.loading {
    display: none;
  }

  .tab_headings.navbar {
    display: block;
    padding-bottom: 30px;
    li {
      margin: 0 3px;
      a {
        font-size: @fontSizeSmall;
        padding: 3px 3px;
        overflow: hidden;
        display: block;
        border: 1px solid @maroon;
        background-color: #ededed;
        //.border-radius(5px);
        text-shadow: none;
        .title {
          float: left;
        }
        .count {
          //.box-shadow(@shadow: 1px 1px 2px 1px rgba(0,0,0,.10));
          border: 1px solid @white;
          font-size: @fontSizeMini;
          background-color: @maroon;
          color: @white;
          width: 15px;
          line-height: 15px;
          text-align: center;
          display: block;
          float: left;
          margin-left: 5px;
          margin-top: 2px;
          //.border-radius(20px);
        }
      }
    }
  }
}