
.directory_listing {
  @media (max-width: 767px) {

    .directory_profile {
      padding-bottom: 40px;
      p, h3 {
        text-align: center;
      }
      .faculty_photo {
        text-align: center;
        a {
          img {
            width: 60%
          }
        }
      }
    }
  }
  .directory_profile {
    padding-bottom: 20px;

    .faculty_info {
      padding-left:0;
      padding-right:0;

      p, h3 {
        margin-bottom: 5px;
        margin-top:0;
      }
      .title {
        line-height: 18px;
      }
    }
    .faculty_photo {
      padding: 0px;
      text-align: center;
      a {
        border: 0px;
        img {
          margin: 0px auto;
          padding-bottom: 10px;
          width: 80%;
        }
      }
    }
  }
}

.directory_listing.profile {
  @media (max-width: 767px) {
    .profileImageWrap {
      text-align: center;
      img{
        margin: 0 auto;
      }
    }
  }
  .back_to_directory {
    padding-left: 30px;
    padding-top: 10px;
    a {
      font-size: @fontSizeSmall;
    }
  }
  .contact ul {
    list-style: none;
    padding-left: 5px;
  }
  .profileImageWrap {
    padding-top: 25px;
    img {
      width: 80%;
      margin: 0px;
    }
  }
}