.form-builder.plugin {
  fieldset legend {
    line-height: 1.57142857;
    color: #222;
    font-size: 14px;
    margin-bottom: 5px;
    border-bottom: 0px;
  }

  .help_text {
    font-size: .8em;
    padding-top: 15px;
    padding-left: 25px;
    text-align: right;
    padding-right: 15px;
    overflow: hidden;
    display: block;
  }

  textarea {
    min-height: 150px;
  }

  .heading h2 {
    margin-left: 15px;
  }

  @media (max-width: 991px) {

    .help_text {
      padding-top: 0px;
    }
  }

}