.plugin.gallerific {
  #image_gallery_container {
    ul {
      &.thumbs {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        list-style-image: none;
        overflow: hidden;
        li {
          display: inline-block;
          margin: 0;
          width: auto;
        }
        a {
          background-color: #fff;
          border: 1px solid #555;
          padding: 0;
          margin: 3px;
          opacity: 0.5;
          display: block;
          transition: all 300ms ease-out;
          -webkit-transition: all 300ms ease-out;
          -moz-transition: all 300ms ease-out;
          -o-transition: all 300ms ease-out;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }
      }
    }
    .thumb_img {
      width: 68px;
      height: 50px;
      margin: 1px;
    }
    #slideshow {
      img {
        width: 100%;
        margin: 0 !important;
      }
    }
    .pagination {
      margin: 2px 4px;
      text-align: center;
      overflow: hidden;
      span {
        margin-right: 5px;
      }
      .current {
        font-weight: bold;
        background-color: #222;
        color: #fff;
        border-color: #000;
      }
    }
    #caption {
      .caption {
        font-style: italic;
        text-align: center;
      }
    }
    img {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  * {
    & + html {
      #image_gallery_container {
        ul {
          &.thumbs {
            li {
              display: inline;
            }
          }
        }
      }
    }
    html {
      #image_gallery_container {
        ul {
          &.thumbs {
            li {
              display: inline;
            }
          }
        }
      }
    }
  }
  #image_gallery_container ul.thumbs a:hover,
  #image_gallery_container ul.thumbs a:active,
  #image_gallery_container ul.thumbs a:focus,
  #image_gallery_container ul.thumbs li.selected a {
    border-color: #000;
    opacity: 1;
    outline: 0;
  }
  #image_gallery_container .pagination a,
  #image_gallery_container .pagination span {
    border: 1px solid #ccc;
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 5px;
    text-decoration: none;
  }
  #image_gallery_container .pagination a:hover,
  #image_gallery_container .pagination a:active,
  #image_gallery_container .pagination a:focus {
    border-color: #000;
  }
  .header_top {
    text-align: center;
    width: 640px;
  }
  div {
    &.content {
      display: none;
    }
    &.controls {
      height: 30px;
      padding: 3px;
      a {
        border: 1px solid #CCCCCC;
        border-radius: 2px 2px 2px 2px;
        margin-right: 5px;
        padding: 1px 3px;
        text-decoration: none;
      }
    }
    &.ss-controls {
      float: left;
    }
    &.nav-controls {
      float: right;
    }
    /*&.slideshow-container {
      margin: 10px 10%;
      width: 80%;
      clear: both;
    }*/
    &.loader {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('loader.gif');
      background-repeat: no-repeat;
      background-position: center;
    }
    &.slideshow {
      img {
        vertical-align: middle;
        border: 1px solid #ccc;
      }
    }
    &.download {
      float: right;
    }
    &.caption-container {
      clear: left;
    }
    &.caption {
      padding: 12px;
    }
    &.image-title {
      font-weight: bold;
      font-size: 1.4em;
    }
    &.image-desc {
      line-height: 1.3em;
      padding-top: 12px;
    }
    &.pagination {
      clear: both;
      a {
        &:hover {
          background-color: #eee;
          text-decoration: none;
        }
      }
      span {
        &.current {
          font-weight: bold;
          background-color: #000;
          border-color: #000;
          color: #fff;
        }
        &.ellipsis {
          border: none;
          padding: 5px 0 3px 2px;
        }
      }
    }
    &.navigation {
      div {
        &.top {
          margin-bottom: 12px;
          height: 11px;
        }
        &.bottom {
          margin-top: 12px;
        }
      }
    }
  }
  div.content a, div.navigation a {
    text-decoration: none;
    color: #777;
  }
  div.content a:focus, div.content a:hover, div.content a:active {
    text-decoration: underline;
  }
  div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
    text-decoration: none;
  }
  ul {
    &.thumbs {
      clear: both;
      margin: 0;
      padding: 0;
      li {
        float: left;
        padding: 0;
        margin: 5px 10px 5px 0;
        list-style: none;
        &.selected {
          a {
            &.thumb {
              background: #000;
            }
          }
        }
      }
      img {
        border: none;
        display: block;
      }
    }
  }
  a {
    &.thumb {
      padding: 2px;
      display: block;
      border: 1px solid #ccc;
      &:focus {
        outline: none;
      }
    }
  }
  div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
    display: block;
    float: left;
    margin-right: 2px;
    padding: 4px 7px 2px 7px;
    border: 1px solid #ccc;
  }
  @media (max-width:480px) {
    div.slideshow-container {
      clear: both;
      margin: 10px 3%;
      width: 94%;
    }
  }
}