.org_chart_container {
  overflow-x: auto;
  padding-bottom: 15px;

  div.orgChart {
    h2 {
      margin: 0px;
      padding: 0 3%;
      font-size: 1em;
      border-bottom: 2px solid black;
      border-bottom: none;
      a {
        color: #120002;
      }
      a:hover {
        color: #000;
        border-bottom: none !important;
        text-decoration: underline;
      }
    }
    ul {
      list-style: none;
      margin: 4px;
      padding: 0px;
      font-size: 0.8em;
      text-align: left;
    }
    table {
      width: 100%;
      margin: 0 !important;
    }
    tr.lines {
      td.line {
        width: 1px;
        height: 20px;
      }
      td.top {
        border-top: 3px solid black;
      }
      td.left {
        border-right: 2px solid black;
      }
      td.right {
        border-left: 2px solid black;
      }
    }
    td {
      text-align: center;
      vertical-align: top;
      padding: 0px 2px;
      border: none;
    }
    div.node {
      cursor: default;
      border: 2px solid black;
      display: inline-block;
      padding: 0 4px;
      min-height: 40px;
      background-color: #F1F5F1;
      line-height: 1.3em;
      border-radius: 8px;
      box-shadow: 2px 2px 7px -2px #8c8e90;
    }
    div.hasChildren {
      background-color: #e1e5ea;
      .name {
        color: #566378;
      }
      .job_title {
        color: #414a5a;
      }
    }
    div.node.hover {
      background-color: white;
    }
  }
  div.orgChart ul.stack, div.orgChart ul.stack ul {
    text-align: center;
  }
  div.orgChart.interactive {
    div.hasChildren {
      cursor: pointer;
    }
  }
  .root_node {
    font-size: 1.2em;
    width: 50%;
    background-color: #d5cdc5 !important;
  }
  .job_title {
    display: block;
    line-height: 1.1em;
    margin: 5px 0;
    color: #405a40;
    font-size: .8em;
  }
  .name {
    display: block;
    font-size: 0.9em;
    line-height: 1.1em;
    margin: 5px 0;
    color: #557855;
  }
  div.orgChart table>tbody>tr:nth-child(odd)>td, div.orgChart table>tbody>tr:nth-child(odd)>th {
    background: none !important;
  }
  div.orgChart table, div.orgChart table th, div.orgChart table td {
    border: none;
  }
  .site_container {
    table {
      border-collapse: collapse;
    }
  }
}