.rss_feed.rssFeed {
  .rssBody {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0;
    }
    .rssRow > div {
      padding: 0px 30px;

      h3 {
        margin-top: 0;
      }
      &.date {
        padding-left: 0px;
      }
    }
  }
}