.plugin.social-media {
  #facebook_widget_container iframe, #twitter_widget_container iframe, #youtube_widget_container iframe {
    padding:0 !important;
    margin:0 !important;
  }
  .social_container {
    margin: 5px 0;
    padding: 0 3% 0 0;
    overflow:hidden;
    img {
      padding:0;
    }
    img.large {
      width:48px;
    }
    img.medium {
      width:32px;
    }
    img.small {
      width:24px;
    }
  }
  .display_inline {
    float:left;
  }
}