.plugins.weather {
  .current.default .vitals, .current.default .icon {
    text-align: center;
  }
  .current.default {
    .meta {
      padding-top: 40px;
    }
    .vitals {
      .temperature {
        font-size: 30px;
        margin: 0;
        line-height: 1.3em;
      }
      .weather_string {
        margin: 0;
      }
    }
  }
  .current.stacked {
    .meta {
      margin-top:10px;
    }
    p.temperature {
      font-size:2em;
      margin-top:16%;
    }
    p.weather_string {
      font-size:1.2em;
    }
  }
  .current.default p.small-margins, .current.stacked p.small-margins {
    margin-bottom: 10px;
  }
  .current.graphic {
    h3.location {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
  .current.minimal {
    h3.location {
      display: inline;
      margin-right: 15px;
      font-size: 16px;
    }
    p.temperature {
      display: inline;
      font-size: 15px;
    }
  }
}

