.plugin.youtube-embed {
  ul.youtube_list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    overflow:hidden;
    margin:0;
    li {
      margin: 20px 0;
      padding:0;
    }
    a {
      border-bottom:none;
      display:block;
      margin: 0 0 5px;
    }
    img {
      margin:0;
      padding:0;
      width: 225px;
    }
    p {
      font-size:0.9em;
    }
  }
  .videos_inline {
    li {
      width:33%;
      float:left;
      height:215px;
    }
  }
}
