body.background_light,body.background_dark {
  background: transparent top center no-repeat;
  .um_standard_footer {
    background-color: @white;
    margin-bottom: 0px;
    margin-top: 30px;
    border-top: 1px solid rgba(150,150,150,0.5);
  }
  .transparent_box_light {
    background: #fff;
    background: rgba(255,255,255,0.85);
  }
}
body.background_light{
  .navbar .brand {
    color: #636363;
    text-shadow: none;
  }
}
body.background_dark {
  .navbar .brand {
    color: @white;
    text-shadow: none;
  }
}

body.background_affixed{
	background-repeat:no-repeat;
	background-attachment:fixed;
}