.site_container .site-brand {
  padding-bottom: 5px;
  overflow: hidden;
  a {
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    padding: 0;
    color: #6e6c76;
    border-bottom: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .brand {
    float: none;
    font-size: 27px;
    font-weight: 800;
    margin: auto 8px auto 0px;
    text-shadow: 0 1px 0 #fff;
    &:hover {
      color: #43454c;
    }
    span {
      font-weight: 200;
    }
  }
}

body.background_dark .brand:hover {
  text-shadow: 1px 1px 5px #373737;
}

@media (min-width: 0px) and  (max-width: 767px) {
  .site_container .site-brand {

    padding-bottom: 5px;
    .brand {
      font-size: 16px;
      span {
        display: none;
      }
    }
  }

  .google_cse #site_search_box {
    width: 150px;
  }
}
