.site_breadcrumbs {
  .breadcrumb > li + li:before, .breadcrumb > img + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #ccc;
  }
  font-size: 90%;
  ul.breadcrumb,
  ol.breadcrumb {
    margin-bottom: 0;
    background: #ededed;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    li {
      &.active {
        color: #333;
      }
      span.divider {
        display: none;
      }
    }
  }
}

@media (max-width: 979px) {
  .site_breadcrumbs {
    font-size: 75%;
  }
}

@media (max-width: 480px) {
  .site_breadcrumbs {
    display: none;
  }
}