.google_cse {
  margin-top: 1px;

  #site_search_box {
    font-size: 13px;
    color: @grayLight;
    padding: 2px 10px;
  }
  #site_search_box:focus {
    color: #222;
  }
  input.search-query {
    border-radius: 7px;
  }
}

.gsc-control-searchbox-only {
  width: 175px;
  form.gsc-search-box {
    padding: 0px;
    margin: 0px;
    table.gsc-search-box {
      margin: 0px;
      td.gsc-input {
        background: transparent;
        padding: 0px;
        input {
          text-indent: 0px !important;
          background-image: none !important;
        }
      }
    }
  }
  .gsc-search-button, .gsc-clear-button {
    display: none;
  }
}

.gsc-control-cse {
  display: block;

  table,
  table > tbody,
  table > tbody > tr,
  table > tbody > tr > th,
  table > tbody > tr > td {
    border: none;

  }


  .gsc-webResult.gsc-result {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    &:hover{
      background-color: #eee;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid transparent;
    }
    .gsc-table-result {
      margin-top: 0;
    }
  }

  table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
    background: none;
  }

  .gsc-resultsHeader {
    display: none;
  }

  .gsc-above-wrapper-area {
    display: none;
  }

  .gs-result .gs-title, .gs-result .gs-title * {
    color: @maroon;
    text-decoration: none;
  }

  .gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
    color: @grayLight;
  }
  .gsc-results .gsc-cursor {
    display: block;
    padding: 10px 30px;

    .gsc-cursor-page {
      text-decoration: none;
      color: @grayMedium;
    }

    .gsc-cursor-current-page {
      text-decoration: underline;
      color: white;
    }
  }
  .gs-web-image-box, .gs-promotion-image-box {
    width: 100%;
    padding-left: 0;
    text-align: left;

    .gs-image {
      max-width: 80px;
    }
  }

}

@media (max-width: 480px) {

  .google_cse {
    float: none !important;
    margin: 7px 0;
    form {
      .search_styles {
        #site_search_box {
          width: 100%;
        }
      }
    }
  }
}