.content_wrapper .featured_site_links .featured_link.row-fluid.feature_title h3 {
  color: #424242;
}

.sidebar_content {
  margin-bottom: 20px;
}

.sidebar_block {
  margin-bottom: 20px;
}

.featured_site_links {
  .featured_link {
    margin-bottom: 20px;

    a {
      border-bottom: 0px;
      text-decoration: none;
    }
    &.bitterroot-pink {
      .grad_button {
        #gradient > .vertical(@BitterrootPink, darken(@BitterrootPink, 20%)) !important;
      }
    }

    .grad_button {
      font-size: 16px;
      color: @white;
      padding: 5px 10px;
      display: block;
      .border-radius(6px);
      .box-shadow(1px 1px 3px rgba(0, 0, 0, .1));
      text-shadow: 0px -1px 0px rgba(000, 000, 000, 0.5);
      text-align: center;
      border: 1px solid #330000;
      transition: all .1s ease-out;
      box-shadow: 0 0 0 transparent inset;
      background-color: @maroon;
      &:hover {
        background-position: 40px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, .4) inset;
      }

      a {
        border-bottom: 0px;
        text-decoration: none;
      }
    }
    .featurebutton_none_text_only, .featurebutton_none_text_only:hover {
      .box-shadow(none);

      .feature_title h3 {
        font-size: 18px;
        font-width: normal;
        color: #424242;
        text-shadow: none;
      }
    }
    .featurebutton_maroon {
      #gradient > .vertical(lighten(@featuredLinkMaroon, 15%), darken(@featuredLinkMaroon, 5%));
    }
    .featurebutton_cream {
      #gradient > .vertical(lighten(@featuredLinkBrandWebCream, 15%), darken(@featuredLinkBrandWebCream, 20%));
      border-color: #a2996f;
      background-color: @featuredLinkBrandWebCream;

      .feature_title h3 {
        color: #62493c;
        text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.5);
      }
      &:hover {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, .2) inset;
      }
    }
    .featurebutton_pink {
      #gradient > .vertical(@featuredLinkPink, darken(@featuredLinkPink, 20%));
      background-color: @featuredLinkPink;

    }
    .featurebutton_green {
      #gradient > .vertical(lighten(@featuredLinkGreen,12%), darken(@featuredLinkGreen, 12%));
      background-color: @featuredLinkGreen;
    }
    .featurebutton_blue {
      #gradient > .vertical(lighten(@featuredLinkBrandBlue, 12%), darken(@featuredLinkBrandBlue, 12%));
      background-color: @featuredLinkBrandBlue;
    }
    .featurebutton_orange {
      #gradient > .vertical(lighten(@featuredLinkOrange,5%), darken(@featuredLinkOrange, 25%));
      background-color: @featuredLinkOrange;
    }
    .featurebutton_brown {
      #gradient > .vertical(lighten(@featuredLinkBrandBrown, 20%), darken(@featuredLinkBrandBrown, 10%));
      background-color: @featuredLinkBrandBrown;
    }
    .featurebutton_purple {
      #gradient > .vertical(lighten(@featuredLinkPurple, 8%), darken(@featuredLinkPurple, 20%));
      background-color: @featuredLinkPurple;
    }
    .featurebutton_teal {
      #gradient > .vertical(lighten(@featuredLinkTeal, 7%), darken(@featuredLinkTeal, 15%));
      background-color: @featuredLinkTeal;
    }
    .featurebutton_red {
      #gradient > .vertical(@featuredLinkRed, darken(@featuredLinkRed, 25%));
      background-color: @featuredLinkRed;
    }
    .featurebutton_silver {
      #gradient > .vertical(@featuredLinkLight, darken(@featuredLinkLight, 25%));
      background-color: @featuredLinkLight;

      .feature_title h3 {
        color: #424242;
        text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.5);
      }
    }
    .featurebutton_dark_gray {
      #gradient > .vertical(@featuredLinkBrandDarkGray, darken(@featuredLinkBrandDarkGray, 30%));
      background-color: @featuredLinkBrandDarkGray;
    }
    .featurebutton_black {
      #gradient > .vertical(lighten(@featuredLinkDark, 30%), @featuredLinkDark);
      background-color: @featuredLinkDark;
    }
    .featurebutton_none_text_only {
      border: 0;
    }
    .feature_link_content {
      margin-bottom: 0px;
      padding-top: 3px;
    }
    .feature_title {

      h3 {
        margin: 10px 0;
        color: @white;
      }
    }
  }

  @media (max-width: 991px) {
    float: none !important;
  }
}
