.featured_image {
  margin-bottom: 15px;

  &:not(.half_row){
    .light_shadow;
    .slight_round_box;
  }

  &.half_row {
    &.solid_background {
      .light_shadow;
      .slight_round_box;
    }
    &:not(.solid_background){
      .fi_frame, .feature_image_content_wrap {
        .light_shadow;
        .slight_round_box;
      }
      .feature_image_image{
        img{
          .light_shadow;
          .slight_round_box;
        }
        .fi_frame {
          img {
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0px;
          }
        }
        a {
          overflow: hidden;
          display: block;
          &:hover {
            text-decoration: none;
            border: 0px;
          }
        }
      }
    }
    .feature_image_contents, .fi_frame {
      padding: 10px;
    }
    .feature_image_image {
      padding-left: 0px !important;
      @media(max-width: 992px) {
        padding-right:0 !important;
      }
    }
  }

  &.dark {
    .feature_image_contents, .feature_image_image .fi_frame, .feature_image_content_wrap {
      .dark_box;

      h1, h2, h3, h4, h5, h6, p, ul, ol, a {
        color: @white;
      }
    }

    &.solid_background {
      .dark_box;
    }
  }

  &.light {
    .feature_image_contents, .feature_image_image .fi_frame, .feature_image_content_wrap, &.solid_background {
      background-color: @white;
    }
  }

  .featured_image_title {
    .strong;
  }
  .block {
    font-size: 95%;

    a {
      display: inline;
    }
    p {
      margin-bottom: 0px;
      padding: 0px 10px;
    }
  }
}

.featured_image.dark {
  h3.featured_image_title {
    a {
      color: @white;
      border-bottom: 1px solid @white;
    }
    a:hover {
      color: @grayLighter;
      border-bottom: 1px solid @grayLighter;
    }
  }
  .block {
    background: rgb(0, 0, 0); /* The Fallback */
    background: rgba(0, 0, 0, 0.6);
    color: @white;
  }
}

.featured_image.light {
  h3.featured_image_title {
    a {
      color: @grayDark;
      border-bottom: 1px solid @grayDark;
    }
    a:hover {
      color: @maroon;
      border-bottom: 1px solid @maroon;
    }
  }
  .block {
    background: rgb(255, 255, 255); /* The Fallback */
    background: rgba(255, 255, 255, 0.7);
  }
}



.featured_image.overlay {
  position: relative;
  a {
    display:block;
  }
  .block {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
  }
  @media (max-width: 979px) {
    position: initial;

    .block {
      position: relative;
    }
  }

  &.dark {
    .block {
      background: rgb(0, 0, 0); /* The Fallback */
      background: rgba(0, 0, 0, 0.5);
      color: @white;
    }
  }
  &.light {
    .block {
      background: rgb(255, 255, 255); /* The Fallback */
      background: rgba(255, 255, 255, 0.7);
    }
  }
}