.span12.contact_information, .col-md-12.contact_information {
  padding: 15px 0 10px 0;
  h2, h3, ul.inline {
    padding: 0px;
    margin: 0px;
  }
  h2, h3 {
    font-size: @baseFontSize;
    .makeColumn(1);
    line-height: 25px;
    margin-right: 5px;
    margin-left: 25px;
  }
  ul.inline {
    li {
      padding-left: 10px;
      padding-right: 10px;
      overflow: hidden;
    }
  }
  .site_logo {
    margin-left: 20px;
    .pull-left;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.site_footer.row {
  margin: 0px;
}

.site_footer .contact_information {

  margin-left: 0;
  overflow: hidden;
  padding-bottom: 10px;

  h2 {
      font-size: 16.8px;
      line-height: 20.16px;
      margin-bottom: 16.8px;
      font-weight: 600;
      border-bottom: none;
      margin-left:0;
      margin-bottom: 0;
  }

  h2, h3, ul {
    padding-left: 0;
    padding-right: 0;
  }
  ul {
    margin-bottom: 5px;
  }
  li.contact-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.site-footer {
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 90%;
.content {
  padding-top: 20px;
}
  h2, h3 {
    margin-top: 20px;
    margin-bottom: 0;
  }
  ol {
    padding-left: 20px;
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    li {
      line-height: (@baseLineHeight - 3);
    }
  }
  .site_logo {
    margin: 20px 0;
  }
}

@media (max-width: 992px) {

  .site_footer {
    .span12, .col-md-12 {
      padding-left: 9px;
      .span3, .col-md-3 {
        padding-left: 0px;
      }
    }
    .pull-right {
      float: none !important;
      clear: both;
      padding-left: 0px;
      .span3, .col-md-3 {
        .make-sm-column(3);
      }
      .span12, .col-md-12 {
        .make-sm-column(12);
      }
    }
    .contact_information {
      clear: both;
      &.span12, .col-md-12 {
        padding-left: 0px;
        h2, h3 {
          padding-left: 9px;
          margin-left: 0px;
        }
      }
      h2, h3 {
        text-align: left;
      }
      ul.inline {
        li {
          display: block;
        }
      }
    }
  }
}