
.site-top-nav .nav_nonclick {
  display: none;
}

.content_wrapper {
  background-color: white;
}

.content_wrapper .dept_leftnav {
  margin-left: 0;
  font-size: 90%;

  border-right: 1px solid #e6e6e6;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.04) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(69%, rgba(0, 0, 0, 0)), color-stop(87%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.04))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.04) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.04) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.04) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 69%, rgba(0, 0, 0, 0) 87%, rgba(0, 0, 0, 0.04) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#0a000000', GradientType=1); /* IE6-8 */

  ul.site_standard_nav {
    padding-right: 7%;
    padding-top: 15px;
  }

  ul {
    padding: 0;
    margin-left: 7%;
    list-style-type: none;

    li {
      margin-top: 10px;
      line-height: 18px;

      a {
        text-decoration: none;
        color: inherit;
        border-color: transparent;

        &:hover {
          color: #8C000D;
          border-color: #91000E;
        }
      }

      li {
        margin-top: 6px;

        li {
          margin-top: 2px;

          li {
            margin-top: 0px;
          }
        }
      }
    }
    .activepage {
      font-weight: bold;
      color: @maroon;
    }
  }
}

.navbar {
  min-height: 0;
}

.site-top-nav.navbar-inner {
  border-color: rgba(100, 100, 100, .4);
  .box-shadow(@shadow: 2px 2px 6px 0px rgba(0,0,0,.15));
  #gradient > .vertical(#fff, #edeff0);
  padding: 0px;

  li a {
    transition: all .05s ease-out;
  }
}

.navbar .site-top-nav .nav > li > a:focus, .navbar .site-top-nav .nav > li > a:hover {
  background: #fefefe;
  //border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .12);
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  color: #555;
  text-decoration: none;
  background-color: #e5e5e5;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.mobile-nav-toggle {
  padding-left: 23px;
  padding-top: 10px;
  button {
    color: #222;
    background-color: #ccc;
    max-width: 300px;
    padding: 5px 7px;
    margin: 5px 7px;
    margin-bottom: 0;
  }
}

.row-offcanvas.active {
  .mobile-nav-toggle button {
    span.hide_action {
      display: inline;
    }
    span.show_action {
      display: none;
    }
  }
}

.row-offcanvas {
  .mobile-nav-toggle button {
    span.hide_action {
      display: none;
    }
    span.show_action {
      display: inline;
    }
  }
}
.site-top-nav-dropdown-wrapper {
  display: none !important;
  .input-group-btn {

    padding-left: 10px;
  }
  button.btn{

    padding: 4px 10px;
  }
}


@media (max-width: 992px) {
  .dept_leftnav {
    height: auto !important;

  }

}

@media (max-width: 480px) {

  .site-top-nav {
    .access_hidden();
  }
  .site-top-nav-dropdown-wrapper {
    font-size: 12px;
    line-height: 13px;
    display: block !important;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media (max-width: 992px) {
  .site-top-nav {
    .below_block {
      padding-left: 15px;
    }
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-fluid.content-container,
  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-fluid.content-container .dept_leftnav.span3,
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .dept_leftnav.span3,
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
