/* nomination button */
.nomination_button {
  position: fixed;
  left: 0;
  top: 30%;

  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform-origin: left top;
  z-index: 99999 !important;
}

.section_gradient_vertical.nomination_button {
  background: none;
  -webkit-box-shadow: 2px 2px 60px 0 rgba(0,0,0,.15);
  box-shadow: 2px 2px 60px 0 rgba(0,0,0,.15);
  a {
    display: block;
    background-image: url(http://www.umt.edu/web/imx/pinecones/nomination-button.jpg);
    width: 65px;
    background-size: cover;
    height: 260px;
    background-repeat: no-repeat;
    span {
      /*background-color: #8c000d;*/
      display: none;
      padding: 8px;
      font-weight: bold;
      color: #fff;
      font-size: 18px;
    }
  }
}