.content-area.remainder-box {
  .row-fluid {
    [class*="span"] {
      padding-left: 0px;
    }
    h1,h2 {
      margin-left: 0px;
    }
  }
  .page-heading.component {
    h1 {
      margin-left: 0;
    }
  }
  .normal_page {
    a {
      text-decoration: underline;
      border-bottom: 0px;
    }
  }

  .remainder-box.normal_page {
    &.component {
      padding-left:15px;
      padding-right: 15px;
      h2 {
        margin-left: 0;
      }
    }
  }
}