@media print {
  .visible-print {
    display: inherit !important;
  }

  body {
    font-size: (@baseFontSize * .85 );
    line-height: (@baseFontSize);
    padding: 0 3%;

    p {
      margin-bottom: 5px;
    }
    .site_container table th,
    .site_container table td {
      line-height: 14px;
      padding: 4px 8px;
    }
    table {
      border: 1px solid #ddd !important;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 7px 0;
    }
    hr {
      margin: 7px 0;
    }
    .row-fluid [class*="span"] {
      min-height: 20px;
    }

  }

  .um_standard_header {
    border-bottom: 0px;
    .brand {
      margin: 0;
      padding: 0;
      border-top: 0px;
      margin-top: 0px;
      text-align: right;
      .pull-right();
    }

    .navicon,
    .um_standard_nav,
    .search,
    .navrightlinks_wrap {
      display: none !important;
    }
    a:after {
      content: "";
    }
  }

  .site_container {
    width: 100% !important;
    .navbar {
      margin-bottom: 0px;
      .site-nav {
        display: none !important;
      }
    }

    .site-brand {
      overflow: auto;
      float: none !important;
      line-height: 30px;
      min-height: 50px;

      a.brand {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        padding-left: 0px;
      }
      a.brand:after {
        content: "";
      }
    }

    .submit_button,
    .section-banner,
    .section-line,
    .mobile-nav-toggle,
    .google_cse {
      display: none !important;
    }

    .dept_leftnav {
      display: none !important;
    }
  }

  .site_breadcrumbs {
    display: none;
  }

  .content-area {
    padding: 0px;
  }

  .site-footer {
    padding: 0px !important;
    .contact_information {
      h3 {
        text-align: left;
        width: auto;
        margin: 0px;
        font-size: 13px;
      }
    }
  }

  .um_standard_footer {
    display: none !important;
  }

  .hidden-print {
    display: none !important;
  }

}