.section_line_maroon{
	background: @maroon;
}
.section_line_maroon.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@maroon, 10%), @maroon);
}
.section_line_maroon.section_gradient_vertical{
	#gradient > .vertical(lighten(@maroon, 10%), @maroon);
}
.section_line_cream{
	background: @featuredLinkBrandWebCream;
}
.section_line_cream.section_gradient_horizontal{
	#gradient > .horizontal(darken(@featuredLinkBrandWebCream, 10%), @featuredLinkBrandWebCream);
}
.section_line_cream.section_gradient_vertical{
	#gradient > .vertical(darken(@featuredLinkBrandWebCream, 10%), @featuredLinkBrandWebCream);
}
.section_line_green{
	background: @featuredLinkBrandGreen;
}
.section_line_green.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkBrandGreen, 5%), @featuredLinkBrandGreen);
}
.section_line_green.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkBrandGreen, 5%), @featuredLinkBrandGreen);
}
.section_line_blue{
	background: @featuredLinkBrandBlue;
}
.section_line_blue.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkBrandBlue, 7%), @featuredLinkBrandBlue);
}
.section_line_blue.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkBrandBlue, 7%), @featuredLinkBrandBlue);
}
.section_line_orange{
	background: @featuredLinkBrandOrange;
}
.section_line_orange.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkBrandOrange, 10%), @featuredLinkBrandOrange);
}
.section_line_orange.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkBrandOrange, 10%), @featuredLinkBrandOrange);
}
.section_line_brown{
	background: @featuredLinkBrandBrown;
}
.section_line_brown.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkBrandBrown, 15%), @featuredLinkBrandBrown);
}
.section_line_brown.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkBrandBrown, 15%), @featuredLinkBrandBrown);
}
.section_line_purple{
	background: @featuredLinkPurple;
}
.section_line_purple.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkPurple, 10%), @featuredLinkPurple);
}
.section_line_purple.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkPurple, 10%), @featuredLinkPurple);
}
.section_line_teal{
	background: @featuredLinkTeal;
}
.section_line_teal.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkTeal, 7%), @featuredLinkTeal);
}
.section_line_teal.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkTeal, 7%), @featuredLinkTeal);
}
.section_line_red{
	background: @featuredLinkRed;
}
.section_line_red.section_gradient_horizontal{
	#gradient > .horizontal(darken(@featuredLinkRed, 10%), @featuredLinkRed);
}
.section_line_red.section_gradient_vertical{
	#gradient > .vertical(darken(@featuredLinkRed, 10%), @featuredLinkRed);
}
.section_line_silver{
	background: @featuredLinkBrandLightGray;
}
.section_line_silver.section_gradient_horizontal{
	#gradient > .horizontal(darken(@featuredLinkBrandLightGray, 10%), @featuredLinkBrandLightGray);
}
.section_line_silver.section_gradient_vertical{
	#gradient > .vertical(darken(@featuredLinkBrandLightGray, 10%), @featuredLinkBrandLightGray);
}
.section_line_dark_gray{
	background: @featuredLinkBrandDarkGray;
}
.section_line_dark_gray.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkBrandDarkGray, 10%), @featuredLinkBrandDarkGray);
}
.section_line_dark_gray.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkBrandDarkGray, 10%), @featuredLinkBrandDarkGray);
}
.section_line_black{
	background: @featuredLinkDark;
}
.section_line_black.section_gradient_horizontal{
	#gradient > .horizontal(lighten(@featuredLinkDark, 10%), @featuredLinkDark);
}
.section_line_black.section_gradient_vertical{
	#gradient > .vertical(lighten(@featuredLinkDark, 10%), @featuredLinkDark);
}

.section_line_pink{
  background: @BitterrootPink;
}
.section_line_pink.section_gradient_horizontal{
  #gradient > .horizontal(@BitterrootPink, darken(@BitterrootPink, 20%));
}
.section_line_pink.section_gradient_vertical{
  #gradient > .vertical(@BitterrootPink, darken(@BitterrootPink, 20%));
}

.section_sidebar{
	margin-left: 30px!important;
}