.site-template.social-sharing {
  text-align: center;
  padding: 0;
  min-height: 40px;
  text-align: right;
  float: right;
  &.large-icons {
    h2{
      font-size: 2rem;
    }
    .um_share {
      li {
        a {
          span {
            &:before {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
  h2{
    font-size: 1.8rem;
    display: inline;
    border: 0px;
  }
  .um_share {

    display: inline;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
    li {
      a {
        border: 0;
        text-decoration: none;
        padding-left: 10px;
        span {
          &:before {
            font-size: 2.2rem;
          }
        }
      }
      &.facebook {
        a {
          span {
            color: #3b5998;
          }
        }
      }
      &.twitter {
        a {
          span {
            color: #55acee;
          }
        }
      }
      &.linkedin {
        a {
          span {
            color: #0077B5;
          }
        }
      }
      &.email {
        a {
          span {
            color: #21759b;
          }
        }
      }
    }
  }
}