@frame-size: 10px;

.featured_stories {

  padding-top: 15px;

  .featured_story {
    iframe {
      min-height: 400px;
    }
  }
  iframe {
    margin-bottom: -6px;
    min-height: 200px;
  }
  .social-story-links {
    margin-top: -90px;
    h2 {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 1.2em;
    }
    img {
      width: 32px;
    }
  }

  .site_feature_story {
    .story_content {
      h3 {
        padding-bottom: 20px;
        font-size: 1.7em;
        line-height: 1.5em;
      }
      p {
        font-size: 1.4em;
        line-height: 1.4em;
      }
    }
  }

  .no-frame {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    h3, p {
      margin-right: @frame-size;
      margin-left: @frame-size;
    }
    h3 {
      padding-top: 10px;
    }
    img {
      width: 100%;
    }
  }

  .frame {
    padding-top: @frame-size;
    padding-bottom: @frame-size;
    padding-right: @frame-size;
    padding-left: @frame-size;
  }

  .story_row {
    padding-bottom: 30px;

    a {
      text-decoration: underline;
      border-bottom: 0px;
    }
    .story_image {
      text-align: center;
    }

    .story_content {
      font-size: .9em;
      line-height: (@baseLineHeight - 4px);

      h3 {
        margin-top: 10px;
        margin-bottom: 0px;

        a {
          text-decoration: none;
          color: @maroon;
        }
      }
      h3 + p {
        margin-top: 5px;
      }
      p {
        margin-top: @frame-size;
        margin-bottom: @frame-size;
      }
    }
    .image-left, .text-only {
      h3, p {
        margin-top: 0;
        /*margin-bottom: 0;*/
      }
    }
    .image-left {
      .story_image {
        padding-right: 0;
      }
    }

    .Light {
      .story-inner {
        .translucent_box_light;
      }
    }

    .Dark {
      p, h1, h3, ul, ol, div {
        color: @white;
        a{
          color: @white;
        }
      }
      a {
        color: @white;
        &:hover {
          color: @grayLighter;
          border-bottom: 1px solid @grayLight;
        }
      }
      .story-inner {
        .dark_box;
      }
    }
  }
  .story-inner {
    padding-bottom: 25px;

    &.frame {
      padding-bottom: 0px;
    }
  }
  .has_categories {
    .story-inner {
      padding-bottom: 0px;

      &.frame {
        padding-bottom: @frame-size;
      }
    }
  }

  .story_categories {
    /*position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;*/

    .category {
      float: left;
      padding: 2px 5px;
      text-align: center;

      &.category_color_none {
        display: none;
      }
      &.category_color_Maroon, &.category_color_Maroon a {
        background-color: @maroon;
        color: @white;
      }
      &.category_color_Cream, &.category_color_Cream a {
        background-color: @featuredLinkBrandWebCream;
        color: @black;
      }
      &.category_color_Green, &.category_color_Green a {
        background-color: @featuredLinkBrandGreen;
        color: @black;
      }
      &.category_color_Blue, &.category_color_Blue a {
        background-color: @featuredLinkBrandBlue;
        color: @white;
      }
      &.category_color_Orange, &.category_color_Orange a {
        background-color: @featuredLinkBrandOrange;
        color: @white;
      }
      &.category_color_Brown, &.category_color_Brown a {
        background-color: @featuredLinkBrandBrown;
        color: @white;
      }
      &.category_color_Purple, &.category_color_Purple a {
        background-color: @featuredLinkPurple;
        color: @white;
      }
      &.category_color_Teal, &.category_color_Teal a {
        background-color: @featuredLinkTeal;
        color: @white;
      }
      &.category_color_Red, &.category_color_Red a {
        background-color: @featuredLinkRed;
        color: @white;
      }
      &.category_color_Silver, &.category_color_Silver a {
        background-color: darken(@featuredLinkLight, 25%);
        color: @black;
      }
      &.category_color_Dark_Gray, &.category_color_Dark_Gray a {
        background-color: @featuredLinkBrandDarkGray;
        color: @white;
      }
      &.category_color_Black, &.category_color_Black a {
        background-color: @featuredLinkDark;
        color: @white;
      }
      &.category_color_Pink, &.category_color_Pink a {
        background-color: @BitterrootPink;
        color: @white;
      }

    }
  }
}

.page_content .featured_stories {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.more-stories {
  .btn, .btn i {
    font-size: 1.2rem;

    height: 40px;
  }
  margin-bottom: 50px;
}

.below-stories {
  .show_archive_wrapper {
    .story_row {
      padding-bottom: 15px;
    }
  }
  .more_stories {
    margin-bottom: 30px;
  }
}

.more_stories {
  background-color: maroon;
  text-align: center;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .2);

  &.light {
    background-color: white;
  }
  &.dark {
    background-color: #222;
  }
}

.more_stories a {
  display: block;
  color: white;
  text-decoration: none;
  border-bottom: none !important;
}

@media (max-width: 992px) {
  .featured_stories {
    .site_feature_story {
      .story_image {
        padding-right: 15px !important;

      }
      .story_content {
        padding-top: 20px;
        h3 {
          padding-bottom: 10px;
          font-size: 16px;
          line-height: 20px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    .site_story {
      margin-bottom: 20px;
    }

    .col-md-11 .story_row {
      padding-bottom: 0;
    }
  }

  .more_stories {
    .story-inner {
      padding-bottom: 0;

      &.frame {
        padding-bottom: 10px;
      }
    }

    .row.story_row {
      padding-bottom: 0;
    }
  }
}