.site_container {
  margin-top: 30px;
  table {
    p {
      margin: 0;
      padding: 0
    }
  }
  iframe {
    margin-bottom:15px;
  }
}

.site_container .navbar {
  margin-bottom: 15px;
}

.site_container form {
  margin-bottom: 0 !important;
}

.school-top-nav {
  background-color: @grayMedium;
  color: @white;
  padding: 5px 0;
}

.content_wrapper {
  .slight_round_box;
  overflow: auto;
}

.content-area {
  padding-bottom: 15px;
  h3 {
    margin-top: 25px;
  }
  h4 {
    margin-top: 22px;
  }
  ul {
    padding-left: 30px;
  }
  form {
    ul {
      padding-left: 0;
    }
  }
}


.site_about {
  h1, h2 {
    margin-left:0;
    margin-top: 0;
  }
  width: auto;
  float: none;
  overflow: hidden;
}

.theme_light .content-container {
  .translucent_box_light;
}

.theme_dark .content-container {
  .translucent_box_dark;
}

.top-image {
  color: @white;
}

.full-image {
  background-color: @maroon;
}

.limit-image {
  background-color: darken(@maroon, 5%);
}

.left-navigation {
  overflow: hidden;
}

.remainder-box {
  width: auto;
  float: none;
  overflow: hidden;
  @media (max-width: 767px) {
    overflow: hidden;
  }
  @media (max-width: 991px) {
    width: 100%;
  }
}

.content-area{
  padding-top: 22px;
   .row-fluid{
     h1{
      margin-top: 0px;
     }
   }
}

.layout {
  background-color: @white;
  margin-bottom: 20px;
}

.navbar a {
  border-bottom: 0;
}

.google_cse form {
  margin-bottom: 5px;
}

.content-area, .site-footer {
  .element-padding;
  .content-padding;
  img {
    height: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  a:after {
    content: ""
  }
}

.site_container table.k_buttonBlock {
  border: none;
  tbody > tr > td {
    background-color: transparent !important;
    border: none;
  }
  button.k_button.forward {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #780025;
    background-image: linear-gradient(to bottom, #ab0035, #2b000d);
    background-repeat: repeat-x;
    color: #fff;
    border: 1px #000 solid;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
  }
}

@media (max-width: 560px) {
  #maincontent {
    iframe {
      width: 100% !important;
      height: auto !important;
    }
  }
}

@media (max-width: 992px) {
  .above_block, .below_block {
    overflow: hidden;
  }

  .container img[align="left"],
  .container img[style^="float:left"],
  .container img[style^="float: left"] {
    margin: 0 !important;
    display: inline;
  }

  .content-area {

    h1 {
      font-size: 22px;
      line-height: 26px;
    }
    h2 {
      font-size: 15px;
      line-height: 20px;
    }
    p {
      font-size: 12px;
    }
  }
}