
.featured_tiles {
  &.row-fluid {
    margin-right: -10px !important;
    margin-left: -10px !important;
  }
  .row-fluid.tile_row {
    &:before {
      content: "";
      display: inline !important;
    }
    &:after {
      content: "";
      display: inline !important;
    }
  }

  .tile_row {
    margin-bottom: 0px;
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
    .text_right {
      .tile_content {
        padding-right: 15px;
      }
    }
    .tile_content {
      font-size: .9em;
      line-height: (@baseLineHeight - 4px);
      padding-bottom: 10px;
      h3 {
        margin-top: 10px;
        margin-bottom: 7px;
        line-height: 21px;
      }
    }

    .site_tile {
      padding: 0 8px 15px;
      min-height: 100px;

      a {
        text-decoration: none;
        border-bottom: 0px;
      }
      .tile_image {
        text-align: center;
        img {
          height: auto;
        }
      }

      &.large_image, &.large_image_text {
        .tile-inner {
          .row {
            margin-left: 0px;
            margin-right: 0px;
          }
        }
      }
    }

    &.light {
      .tile-inner {
        .translucent_box_light;
      }

      &.solid_background {
        margin-bottom: 15px !important;
        .translucent_box_light;
        margin-left: 10px !important;
        margin-right: 10px !important;

        &.row.tile_row {
          margin-left: 0px !important;
          margin-right: 0px !important;
        }

        .site_tile {
          border-color: @white;
          .translucent_box_light;
        }
      }
    }

    &.dark {
      p, h1, h3, ul, ol, div {
        color: @white;
      }
      a {
        color: @white;
      }
      a:hover {
        color: @grayLighter;
        border-bottom: 1px solid @grayLight;
      }
      .tile-inner {
        .dark_box;
      }

      &.solid_background {
        margin-bottom: 15px !important;
        .dark_box;
        margin-left: 10px !important;
        margin-right: 10px !important;
        &.row.tile_row {
          margin-left: 0px !important;
          margin-right: 0px !important;
        }

        .site_tile {
          .dark_box;
        }
      }
    }
  }

  .large_image_text .tile_image.frame  {

    padding-left: 10px;
    padding-right: 10px;
  }
  .tile_image.frame {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .site_tile.frame {

    .tile_content {
      h3 {
        margin-top: 0px;
      }
    }

    .tile-inner > * {
      padding-top: 10px;
      padding-left: 15px;
      padding-bottom: 10px;
      padding-right: 10px;

      img {
        padding-left: 0;
        padding-top: 0;
      }
    }
  }

  .no_frame {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

  }
}

// Responsive Tiles
@media (max-width: 480px) {

  .site_tile {
    margin-bottom: 10px;

    .tile-inner {
      height: auto !important;
    }
  }
}

@media (max-width: 979px) {
  .featured_tiles {
    .tile_row {
      .site_tile {
        .frame {
          img {
            padding-right: 10px;
          }
        }
      }
      .text_right {
        .tile_content {
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    }
  }

  /*.featured_tiles .site_tile .span7 {
    margin-left: 0;
  }*/

}

.page_content .featured_tiles {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
