/*!
 *
 * Ponderosa Template
 */
@import "../um-global.less";
@import "../homepage/um-tiles.less";
@import "../branding/um-search-form.less";
@import "../branding/um-informational.less";
@import "../icons/icons.less";

.site_container {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    .form-control
  }

  label {
    font-weight: normal;
  }
  #menuDateForm {
    .input-group-addon {
      padding: 0 6px;
    }
  }
  .visible-xxs {
    .responsive-invisibility();
    @media (max-width: 480px) {
      .responsive-visibility();
    }
  }

  @import "nomination-form.less";

}

@import "template-main.less";
@import "template-mixins.less";

@import "containers.less";
@import "brand.less";
@import "nav.less";
@import "cse.less";
@import "breadcrumbs.less";
@import "stories.less";
@import "tiles.less";
@import "featured-image.less";
@import "footer.less";
@import "featured-links.less";
@import "background-image.less";
@import "section-blocks.less";
@import "print.less";
@import "normal-page.less";
@import "social-sharing.less";

@import "plugins/plugins.less";