@font-face {
  font-family: "Flaticon-Education-Lite";
  src: url("@{icon-font-path}flaticon/education-lite/flaticon.eot");
  src: url("@{icon-font-path}flaticon/education-lite/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/education-lite/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/education-lite/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/education-lite/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-education-lite-"]:before, [class*=" flaticon-education-lite-"]:before,
[class^="flaticon-education-lite-"]:after, [class*=" flaticon-education-lite-"]:after {
  font-style: normal;
  font-family: Flaticon-Education-Lite;
}

.flaticon-education-lite-alphabet3:before {
  content: "\e000";
}

.flaticon-education-lite-book97:before {
  content: "\e001";
}

.flaticon-education-lite-boy11:before {
  content: "\e002";
}

.flaticon-education-lite-boy12:before {
  content: "\e003";
}

.flaticon-education-lite-certificate7:before {
  content: "\e004";
}

.flaticon-education-lite-education6:before {
  content: "\e005";
}

.flaticon-education-lite-graduate2:before {
  content: "\e006";
}

.flaticon-education-lite-graduate3:before {
  content: "\e007";
}

.flaticon-education-lite-graduation10:before {
  content: "\e008";
}

.flaticon-education-lite-hand46:before {
  content: "\e009";
}

.flaticon-education-lite-mathematic:before {
  content: "\e00a";
}

.flaticon-education-lite-movie:before {
  content: "\e00b";
}

.flaticon-education-lite-owl9:before {
  content: "\e00c";
}

.flaticon-education-lite-paint41:before {
  content: "\e00d";
}

.flaticon-education-lite-pencil32:before {
  content: "\e00e";
}

.flaticon-education-lite-spring13:before {
  content: "\e00f";
}

.flaticon-education-lite-two128:before {
  content: "\e010";
}

.flaticon-education-lite-winners1:before {
  content: "\e011";
}

.flaticon-education-lite-wrong:before {
  content: "\e012";
}