
@font-face {
  font-family: "Flaticon-General";
  src: url("@{icon-font-path}flaticon/general/flaticon.eot");
  src: url("@{icon-font-path}flaticon/general/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/general/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/general/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/general/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-general-"]:before, [class*=" flaticon-general-"]:before,
[class^="flaticon-general-"]:after, [class*=" flaticon-general-"]:after {
  font-style: normal;
  font-family: Flaticon-General;
}
.flaticon-general-accesibility1:before {
  content: "\e000";
}
.flaticon-general-access1:before {
  content: "\e001";
}
.flaticon-general-acrobat2:before {
  content: "\e002";
}
.flaticon-general-add175:before {
  content: "\e003";
}
.flaticon-general-add176:before {
  content: "\e004";
}
.flaticon-general-airplane102:before {
  content: "\e005";
}
.flaticon-general-airplane104:before {
  content: "\e006";
}
.flaticon-general-alarm46:before {
  content: "\e007";
}
.flaticon-general-alphabetical2:before {
  content: "\e008";
}
.flaticon-general-anchor35:before {
  content: "\e009";
}
.flaticon-general-antique25:before {
  content: "\e00a";
}
.flaticon-general-archive29:before {
  content: "\e00b";
}
.flaticon-general-arrow612:before {
  content: "\e00c";
}
.flaticon-general-arrow614:before {
  content: "\e00d";
}
.flaticon-general-arrow616:before {
  content: "\e00e";
}
.flaticon-general-arrow618:before {
  content: "\e00f";
}
.flaticon-general-arrow619:before {
  content: "\e010";
}
.flaticon-general-arrow620:before {
  content: "\e011";
}
.flaticon-general-arrow621:before {
  content: "\e012";
}
.flaticon-general-arrow622:before {
  content: "\e013";
}
.flaticon-general-arrows100:before {
  content: "\e014";
}
.flaticon-general-arrows96:before {
  content: "\e015";
}
.flaticon-general-arrows97:before {
  content: "\e016";
}
.flaticon-general-arrows98:before {
  content: "\e017";
}
.flaticon-general-arrows99:before {
  content: "\e018";
}
.flaticon-general-ascending22:before {
  content: "\e019";
}
.flaticon-general-ascending23:before {
  content: "\e01a";
}
.flaticon-general-asterisk8:before {
  content: "\e01b";
}
.flaticon-general-audio55:before {
  content: "\e01c";
}
.flaticon-general-audio56:before {
  content: "\e01d";
}
.flaticon-general-automatic1:before {
  content: "\e01e";
}
.flaticon-general-automatic:before {
  content: "\e01f";
}
.flaticon-general-back51:before {
  content: "\e020";
}
.flaticon-general-back52:before {
  content: "\e021";
}
.flaticon-general-back53:before {
  content: "\e022";
}
.flaticon-general-back54:before {
  content: "\e023";
}
.flaticon-general-back55:before {
  content: "\e024";
}
.flaticon-general-barcode10:before {
  content: "\e025";
}
.flaticon-general-bars53:before {
  content: "\e026";
}
.flaticon-general-bell43:before {
  content: "\e027";
}
.flaticon-general-bold17:before {
  content: "\e028";
}
.flaticon-general-bomb10:before {
  content: "\e029";
}
.flaticon-general-book202:before {
  content: "\e02a";
}
.flaticon-general-book203:before {
  content: "\e02b";
}
.flaticon-general-book204:before {
  content: "\e02c";
}
.flaticon-general-bookmark40:before {
  content: "\e02d";
}
.flaticon-general-bottle37:before {
  content: "\e02e";
}
.flaticon-general-browser69:before {
  content: "\e02f";
}
.flaticon-general-building69:before {
  content: "\e030";
}
.flaticon-general-building71:before {
  content: "\e031";
}
.flaticon-general-burn7:before {
  content: "\e032";
}
.flaticon-general-business175:before {
  content: "\e033";
}
.flaticon-general-business177:before {
  content: "\e034";
}
.flaticon-general-button7:before {
  content: "\e035";
}
.flaticon-general-button8:before {
  content: "\e036";
}
.flaticon-general-calculator66:before {
  content: "\e037";
}
.flaticon-general-car144:before {
  content: "\e038";
}
.flaticon-general-characters1:before {
  content: "\e039";
}
.flaticon-general-characters:before {
  content: "\e03a";
}
.flaticon-general-chat67:before {
  content: "\e03b";
}
.flaticon-general-chat68:before {
  content: "\e03c";
}
.flaticon-general-chat69:before {
  content: "\e03d";
}
.flaticon-general-chat70:before {
  content: "\e03e";
}
.flaticon-general-chatting2:before {
  content: "\e03f";
}
.flaticon-general-checked20:before {
  content: "\e040";
}
.flaticon-general-checkmark19:before {
  content: "\e041";
}
.flaticon-general-checkmark21:before {
  content: "\e042";
}
.flaticon-general-christmas125:before {
  content: "\e043";
}
.flaticon-general-circle100:before {
  content: "\e044";
}
.flaticon-general-circle105:before {
  content: "\e045";
}
.flaticon-general-circle99:before {
  content: "\e046";
}
.flaticon-general-circles22:before {
  content: "\e047";
}
.flaticon-general-clipboard93:before {
  content: "\e048";
}
.flaticon-general-clipboard94:before {
  content: "\e049";
}
.flaticon-general-clipboard95:before {
  content: "\e04a";
}
.flaticon-general-clock94:before {
  content: "\e04b";
}
.flaticon-general-clock96:before {
  content: "\e04c";
}
.flaticon-general-cloud292:before {
  content: "\e04d";
}
.flaticon-general-cocktail28:before {
  content: "\e04e";
}
.flaticon-general-code39:before {
  content: "\e04f";
}
.flaticon-general-code40:before {
  content: "\e050";
}
.flaticon-general-code41:before {
  content: "\e051";
}
.flaticon-general-collapse7:before {
  content: "\e052";
}
.flaticon-general-compass102:before {
  content: "\e053";
}
.flaticon-general-compressed1:before {
  content: "\e054";
}
.flaticon-general-contrast24:before {
  content: "\e055";
}
.flaticon-general-copy30:before {
  content: "\e056";
}
.flaticon-general-credit92:before {
  content: "\e057";
}
.flaticon-general-cropping3:before {
  content: "\e058";
}
.flaticon-general-cross92:before {
  content: "\e059";
}
.flaticon-general-cross93:before {
  content: "\e05a";
}
.flaticon-general-cross95:before {
  content: "\e05b";
}
.flaticon-general-crosshair14:before {
  content: "\e05c";
}
.flaticon-general-cube34:before {
  content: "\e05d";
}
.flaticon-general-cubes3:before {
  content: "\e05e";
}
.flaticon-general-curved25:before {
  content: "\e05f";
}
.flaticon-general-data102:before {
  content: "\e060";
}
.flaticon-general-database46:before {
  content: "\e061";
}
.flaticon-general-design28:before {
  content: "\e062";
}
.flaticon-general-design30:before {
  content: "\e063";
}
.flaticon-general-digital21:before {
  content: "\e064";
}
.flaticon-general-dislike14:before {
  content: "\e065";
}
.flaticon-general-double117:before {
  content: "\e066";
}
.flaticon-general-down93:before {
  content: "\e067";
}
.flaticon-general-down94:before {
  content: "\e068";
}
.flaticon-general-down95:before {
  content: "\e069";
}
.flaticon-general-down96:before {
  content: "\e06a";
}
.flaticon-general-down98:before {
  content: "\e06b";
}
.flaticon-general-download157:before {
  content: "\e06c";
}
.flaticon-general-download158:before {
  content: "\e06d";
}
.flaticon-general-edit44:before {
  content: "\e06e";
}
.flaticon-general-email96:before {
  content: "\e06f";
}
.flaticon-general-equalizer31:before {
  content: "\e070";
}
.flaticon-general-erase2:before {
  content: "\e071";
}
.flaticon-general-event10:before {
  content: "\e072";
}
.flaticon-general-exclamation29:before {
  content: "\e073";
}
.flaticon-general-expand36:before {
  content: "\e074";
}
.flaticon-general-expand37:before {
  content: "\e075";
}
.flaticon-general-eye104:before {
  content: "\e076";
}
.flaticon-general-facebook53:before {
  content: "\e077";
}
.flaticon-general-facebook55:before {
  content: "\e078";
}
.flaticon-general-faq7:before {
  content: "\e079";
}
.flaticon-general-favorite20:before {
  content: "\e07a";
}
.flaticon-general-fax4:before {
  content: "\e07b";
}
.flaticon-general-file82:before {
  content: "\e07c";
}
.flaticon-general-file84:before {
  content: "\e07d";
}
.flaticon-general-file85:before {
  content: "\e07e";
}
.flaticon-general-file87:before {
  content: "\e07f";
}
.flaticon-general-film60:before {
  content: "\e080";
}
.flaticon-general-filter19:before {
  content: "\e081";
}
.flaticon-general-finger8:before {
  content: "\e082";
}
.flaticon-general-finger9:before {
  content: "\e083";
}
.flaticon-general-fire38:before {
  content: "\e084";
}
.flaticon-general-flag68:before {
  content: "\e085";
}
.flaticon-general-flag71:before {
  content: "\e086";
}
.flaticon-general-flag72:before {
  content: "\e087";
}
.flaticon-general-flag73:before {
  content: "\e088";
}
.flaticon-general-flag74:before {
  content: "\e089";
}
.flaticon-general-folder209:before {
  content: "\e08a";
}
.flaticon-general-four102:before {
  content: "\e08b";
}
.flaticon-general-game55:before {
  content: "\e08c";
}
.flaticon-general-gear33:before {
  content: "\e08d";
}
.flaticon-general-gears5:before {
  content: "\e08e";
}
.flaticon-general-giftbox57:before {
  content: "\e08f";
}
.flaticon-general-google116:before {
  content: "\e090";
}
.flaticon-general-graduate31:before {
  content: "\e091";
}
.flaticon-general-group65:before {
  content: "\e092";
}
.flaticon-general-group66:before {
  content: "\e093";
}
.flaticon-general-hammer53:before {
  content: "\e094";
}
.flaticon-general-hammer54:before {
  content: "\e095";
}
.flaticon-general-harddisc:before {
  content: "\e096";
}
.flaticon-general-headphones38:before {
  content: "\e097";
}
.flaticon-general-help17:before {
  content: "\e098";
}
.flaticon-general-hierarchical9:before {
  content: "\e099";
}
.flaticon-general-hierarchy9:before {
  content: "\e09a";
}
.flaticon-general-home145:before {
  content: "\e09b";
}
.flaticon-general-horizontal37:before {
  content: "\e09c";
}
.flaticon-general-horizontal38:before {
  content: "\e09d";
}
.flaticon-general-image79:before {
  content: "\e09e";
}
.flaticon-general-image80:before {
  content: "\e09f";
}
.flaticon-general-image81:before {
  content: "\e0a0";
}
.flaticon-general-image82:before {
  content: "\e0a1";
}
.flaticon-general-images25:before {
  content: "\e0a2";
}
.flaticon-general-inbox35:before {
  content: "\e0a3";
}
.flaticon-general-inbox36:before {
  content: "\e0a4";
}
.flaticon-general-information66:before {
  content: "\e0a5";
}
.flaticon-general-information67:before {
  content: "\e0a6";
}
.flaticon-general-information68:before {
  content: "\e0a7";
}
.flaticon-general-ink15:before {
  content: "\e0a8";
}
.flaticon-general-interface56:before {
  content: "\e0a9";
}
.flaticon-general-interface57:before {
  content: "\e0aa";
}
.flaticon-general-invisible3:before {
  content: "\e0ab";
}
.flaticon-general-italic9:before {
  content: "\e0ac";
}
.flaticon-general-jar19:before {
  content: "\e0ad";
}
.flaticon-general-key167:before {
  content: "\e0ae";
}
.flaticon-general-keyword4:before {
  content: "\e0af";
}
.flaticon-general-label29:before {
  content: "\e0b0";
}
.flaticon-general-laptop112:before {
  content: "\e0b1";
}
.flaticon-general-layout34:before {
  content: "\e0b2";
}
.flaticon-general-layout35:before {
  content: "\e0b3";
}
.flaticon-general-leaf61:before {
  content: "\e0b4";
}
.flaticon-general-left193:before {
  content: "\e0b5";
}
.flaticon-general-left194:before {
  content: "\e0b6";
}
.flaticon-general-left195:before {
  content: "\e0b7";
}
.flaticon-general-left196:before {
  content: "\e0b8";
}
.flaticon-general-left197:before {
  content: "\e0b9";
}
.flaticon-general-left199:before {
  content: "\e0ba";
}
.flaticon-general-left200:before {
  content: "\e0bb";
}
.flaticon-general-lifesaver4:before {
  content: "\e0bc";
}
.flaticon-general-lifesaver5:before {
  content: "\e0bd";
}
.flaticon-general-lightbulb49:before {
  content: "\e0be";
}
.flaticon-general-lightbulb50:before {
  content: "\e0bf";
}
.flaticon-general-lightning21:before {
  content: "\e0c0";
}
.flaticon-general-like72:before {
  content: "\e0c1";
}
.flaticon-general-like73:before {
  content: "\e0c2";
}
.flaticon-general-like74:before {
  content: "\e0c3";
}
.flaticon-general-like75:before {
  content: "\e0c4";
}
.flaticon-general-link55:before {
  content: "\e0c5";
}
.flaticon-general-link56:before {
  content: "\e0c6";
}
.flaticon-general-list81:before {
  content: "\e0c7";
}
.flaticon-general-list82:before {
  content: "\e0c8";
}
.flaticon-general-list83:before {
  content: "\e0c9";
}
.flaticon-general-lock72:before {
  content: "\e0ca";
}
.flaticon-general-lock73:before {
  content: "\e0cb";
}
.flaticon-general-login17:before {
  content: "\e0cc";
}
.flaticon-general-login18:before {
  content: "\e0cd";
}
.flaticon-general-logout18:before {
  content: "\e0ce";
}
.flaticon-general-logout19:before {
  content: "\e0cf";
}
.flaticon-general-logout20:before {
  content: "\e0d0";
}
.flaticon-general-logout21:before {
  content: "\e0d1";
}
.flaticon-general-logout22:before {
  content: "\e0d2";
}
.flaticon-general-lyrics1:before {
  content: "\e0d3";
}
.flaticon-general-magic18:before {
  content: "\e0d4";
}
.flaticon-general-man455:before {
  content: "\e0d5";
}
.flaticon-general-man457:before {
  content: "\e0d6";
}
.flaticon-general-map99:before {
  content: "\e0d7";
}
.flaticon-general-megaphone13:before {
  content: "\e0d8";
}
.flaticon-general-men26:before {
  content: "\e0d9";
}
.flaticon-general-menu51:before {
  content: "\e0da";
}
.flaticon-general-message15:before {
  content: "\e0db";
}
.flaticon-general-message17:before {
  content: "\e0dc";
}
.flaticon-general-minus100:before {
  content: "\e0dd";
}
.flaticon-general-minus101:before {
  content: "\e0de";
}
.flaticon-general-minus102:before {
  content: "\e0df";
}
.flaticon-general-minus103:before {
  content: "\e0e0";
}
.flaticon-general-minus97:before {
  content: "\e0e1";
}
.flaticon-general-minus99:before {
  content: "\e0e2";
}
.flaticon-general-mobile224:before {
  content: "\e0e3";
}
.flaticon-general-money128:before {
  content: "\e0e4";
}
.flaticon-general-monitor81:before {
  content: "\e0e5";
}
.flaticon-general-movie40:before {
  content: "\e0e6";
}
.flaticon-general-multimedia12:before {
  content: "\e0e7";
}
.flaticon-general-music232:before {
  content: "\e0e8";
}
.flaticon-general-musical113:before {
  content: "\e0e9";
}
.flaticon-general-mute36:before {
  content: "\e0ea";
}
.flaticon-general-new95:before {
  content: "\e0eb";
}
.flaticon-general-new96:before {
  content: "\e0ec";
}
.flaticon-general-new97:before {
  content: "\e0ed";
}
.flaticon-general-newspaper16:before {
  content: "\e0ee";
}
.flaticon-general-night13:before {
  content: "\e0ef";
}
.flaticon-general-numbered8:before {
  content: "\e0f0";
}
.flaticon-general-numeric3:before {
  content: "\e0f1";
}
.flaticon-general-numerical1:before {
  content: "\e0f2";
}
.flaticon-general-old62:before {
  content: "\e0f3";
}
.flaticon-general-omega3:before {
  content: "\e0f4";
}
.flaticon-general-orientation2:before {
  content: "\e0f5";
}
.flaticon-general-oval38:before {
  content: "\e0f6";
}
.flaticon-general-paintbrush13:before {
  content: "\e0f7";
}
.flaticon-general-painting37:before {
  content: "\e0f8";
}
.flaticon-general-paper132:before {
  content: "\e0f9";
}
.flaticon-general-paper133:before {
  content: "\e0fa";
}
.flaticon-general-paragraph19:before {
  content: "\e0fb";
}
.flaticon-general-paragraph20:before {
  content: "\e0fc";
}
.flaticon-general-paragraph21:before {
  content: "\e0fd";
}
.flaticon-general-pawprint2:before {
  content: "\e0fe";
}
.flaticon-general-pencil103:before {
  content: "\e0ff";
}
.flaticon-general-person321:before {
  content: "\e100";
}
.flaticon-general-person322:before {
  content: "\e101";
}
.flaticon-general-phone363:before {
  content: "\e102";
}
.flaticon-general-phone364:before {
  content: "\e103";
}
.flaticon-general-phone365:before {
  content: "\e104";
}
.flaticon-general-photo198:before {
  content: "\e105";
}
.flaticon-general-photo200:before {
  content: "\e106";
}
.flaticon-general-photo202:before {
  content: "\e107";
}
.flaticon-general-photo203:before {
  content: "\e108";
}
.flaticon-general-photo204:before {
  content: "\e109";
}
.flaticon-general-pin49:before {
  content: "\e10a";
}
.flaticon-general-pin50:before {
  content: "\e10b";
}
.flaticon-general-pin51:before {
  content: "\e10c";
}
.flaticon-general-placeholder30:before {
  content: "\e10d";
}
.flaticon-general-play94:before {
  content: "\e10e";
}
.flaticon-general-play95:before {
  content: "\e10f";
}
.flaticon-general-play96:before {
  content: "\e110";
}
.flaticon-general-play97:before {
  content: "\e111";
}
.flaticon-general-plug36:before {
  content: "\e112";
}
.flaticon-general-porfolio:before {
  content: "\e113";
}
.flaticon-general-portfolio32:before {
  content: "\e114";
}
.flaticon-general-power103:before {
  content: "\e115";
}
.flaticon-general-printing23:before {
  content: "\e116";
}
.flaticon-general-programming2:before {
  content: "\e117";
}
.flaticon-general-prohibition21:before {
  content: "\e118";
}
.flaticon-general-puzzle35:before {
  content: "\e119";
}
.flaticon-general-question51:before {
  content: "\e11a";
}
.flaticon-general-question52:before {
  content: "\e11b";
}
.flaticon-general-quote6:before {
  content: "\e11c";
}
.flaticon-general-rec2:before {
  content: "\e11d";
}
.flaticon-general-rectangle18:before {
  content: "\e11e";
}
.flaticon-general-rectangular82:before {
  content: "\e11f";
}
.flaticon-general-rectangular83:before {
  content: "\e120";
}
.flaticon-general-recycle68:before {
  content: "\e121";
}
.flaticon-general-recycle69:before {
  content: "\e122";
}
.flaticon-general-recycle70:before {
  content: "\e123";
}
.flaticon-general-restaurant48:before {
  content: "\e124";
}
.flaticon-general-return9:before {
  content: "\e125";
}
.flaticon-general-retweet8:before {
  content: "\e126";
}
.flaticon-general-right194:before {
  content: "\e127";
}
.flaticon-general-right195:before {
  content: "\e128";
}
.flaticon-general-right197:before {
  content: "\e129";
}
.flaticon-general-right198:before {
  content: "\e12a";
}
.flaticon-general-right199:before {
  content: "\e12b";
}
.flaticon-general-ring23:before {
  content: "\e12c";
}
.flaticon-general-road39:before {
  content: "\e12d";
}
.flaticon-general-rocket71:before {
  content: "\e12e";
}
.flaticon-general-rss51:before {
  content: "\e12f";
}
.flaticon-general-safe21:before {
  content: "\e130";
}
.flaticon-general-scissors56:before {
  content: "\e131";
}
.flaticon-general-search95:before {
  content: "\e132";
}
.flaticon-general-share35:before {
  content: "\e133";
}
.flaticon-general-shield88:before {
  content: "\e134";
}
.flaticon-general-shield89:before {
  content: "\e135";
}
.flaticon-general-shield90:before {
  content: "\e136";
}
.flaticon-general-shopping227:before {
  content: "\e137";
}
.flaticon-general-shopping228:before {
  content: "\e138";
}
.flaticon-general-shuffle19:before {
  content: "\e139";
}
.flaticon-general-shuffle20:before {
  content: "\e13a";
}
.flaticon-general-size9:before {
  content: "\e13b";
}
.flaticon-general-smile12:before {
  content: "\e13c";
}
.flaticon-general-smile13:before {
  content: "\e13d";
}
.flaticon-general-sort49:before {
  content: "\e13e";
}
.flaticon-general-sort50:before {
  content: "\e13f";
}
.flaticon-general-sort51:before {
  content: "\e140";
}
.flaticon-general-speaker100:before {
  content: "\e141";
}
.flaticon-general-speaker102:before {
  content: "\e142";
}
.flaticon-general-speaker98:before {
  content: "\e143";
}
.flaticon-general-speech106:before {
  content: "\e144";
}
.flaticon-general-speedometer35:before {
  content: "\e145";
}
.flaticon-general-spoon16:before {
  content: "\e146";
}
.flaticon-general-sport17:before {
  content: "\e147";
}
.flaticon-general-square174:before {
  content: "\e148";
}
.flaticon-general-square175:before {
  content: "\e149";
}
.flaticon-general-star169:before {
  content: "\e14a";
}
.flaticon-general-star170:before {
  content: "\e14b";
}
.flaticon-general-stats12:before {
  content: "\e14c";
}
.flaticon-general-street13:before {
  content: "\e14d";
}
.flaticon-general-strikethrough6:before {
  content: "\e14e";
}
.flaticon-general-subscribe:before {
  content: "\e14f";
}
.flaticon-general-sun87:before {
  content: "\e150";
}
.flaticon-general-switches1:before {
  content: "\e151";
}
.flaticon-general-tablet91:before {
  content: "\e152";
}
.flaticon-general-tag68:before {
  content: "\e153";
}
.flaticon-general-target43:before {
  content: "\e154";
}
.flaticon-general-taxi20:before {
  content: "\e155";
}
.flaticon-general-tea20:before {
  content: "\e156";
}
.flaticon-general-telephone102:before {
  content: "\e157";
}
.flaticon-general-text134:before {
  content: "\e158";
}
.flaticon-general-text136:before {
  content: "\e159";
}
.flaticon-general-text137:before {
  content: "\e15a";
}
.flaticon-general-text140:before {
  content: "\e15b";
}
.flaticon-general-text141:before {
  content: "\e15c";
}
.flaticon-general-text142:before {
  content: "\e15d";
}
.flaticon-general-text144:before {
  content: "\e15e";
}
.flaticon-general-text145:before {
  content: "\e15f";
}
.flaticon-general-text146:before {
  content: "\e160";
}
.flaticon-general-thumb51:before {
  content: "\e161";
}
.flaticon-general-travel18:before {
  content: "\e162";
}
.flaticon-general-trophy68:before {
  content: "\e163";
}
.flaticon-general-truck53:before {
  content: "\e164";
}
.flaticon-general-twitter45:before {
  content: "\e165";
}
.flaticon-general-umbrella47:before {
  content: "\e166";
}
.flaticon-general-underlined5:before {
  content: "\e167";
}
.flaticon-general-unlocked39:before {
  content: "\e168";
}
.flaticon-general-unlocked40:before {
  content: "\e169";
}
.flaticon-general-up143:before {
  content: "\e16a";
}
.flaticon-general-up144:before {
  content: "\e16b";
}
.flaticon-general-up145:before {
  content: "\e16c";
}
.flaticon-general-up146:before {
  content: "\e16d";
}
.flaticon-general-up147:before {
  content: "\e16e";
}
.flaticon-general-up150:before {
  content: "\e16f";
}
.flaticon-general-up151:before {
  content: "\e170";
}
.flaticon-general-up152:before {
  content: "\e171";
}
.flaticon-general-upload109:before {
  content: "\e172";
}
.flaticon-general-upload111:before {
  content: "\e173";
}
.flaticon-general-user153:before {
  content: "\e174";
}
.flaticon-general-user154:before {
  content: "\e175";
}
.flaticon-general-verification21:before {
  content: "\e176";
}
.flaticon-general-verify8:before {
  content: "\e177";
}
.flaticon-general-video167:before {
  content: "\e178";
}
.flaticon-general-video168:before {
  content: "\e179";
}
.flaticon-general-video169:before {
  content: "\e17a";
}
.flaticon-general-video170:before {
  content: "\e17b";
}
.flaticon-general-virus4:before {
  content: "\e17c";
}
.flaticon-general-visible9:before {
  content: "\e17d";
}
.flaticon-general-voice29:before {
  content: "\e17e";
}
.flaticon-general-voice30:before {
  content: "\e17f";
}
.flaticon-general-volume43:before {
  content: "\e180";
}
.flaticon-general-volume44:before {
  content: "\e181";
}
.flaticon-general-warning34:before {
  content: "\e182";
}
.flaticon-general-warning35:before {
  content: "\e183";
}
.flaticon-general-weekly18:before {
  content: "\e184";
}
.flaticon-general-woman122:before {
  content: "\e185";
}
.flaticon-general-word6:before {
  content: "\e186";
}
.flaticon-general-wordpress19:before {
  content: "\e187";
}
.flaticon-general-wordpress20:before {
  content: "\e188";
}
.flaticon-general-wordpress21:before {
  content: "\e189";
}
.flaticon-general-wrench72:before {
  content: "\e18a";
}
.flaticon-general-write19:before {
  content: "\e18b";
}
.flaticon-general-x16:before {
  content: "\e18c";
}
.flaticon-general-zipped2:before {
  content: "\e18d";
}
.flaticon-general-zoom65:before {
  content: "\e18e";
}
.flaticon-general-zoom68:before {
  content: "\e18f";
}
