@font-face {
  font-family: "Flaticon-Science-and-Technology";
  src: url("@{icon-font-path}flaticon/science-and-technology/flaticon.eot");
  src: url("@{icon-font-path}flaticon/science-and-technology/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/science-and-technology/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/science-and-technology/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/science-and-technology/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-science-and-technology-"]:before, [class*=" flaticon-science-and-technology-"]:before,
[class^="flaticon-science-and-technology-"]:after, [class*=" flaticon-science-and-technology-"]:after {
  font-style: normal;
  font-family: Flaticon-Science-and-Technology;
}
.flaticon-science-and-technology-34:before {
  content: "\e000";
}
.flaticon-science-and-technology-airplane47:before {
  content: "\e001";
}
.flaticon-science-and-technology-airplane48:before {
  content: "\e002";
}
.flaticon-science-and-technology-airplane49:before {
  content: "\e003";
}
.flaticon-science-and-technology-astronaut:before {
  content: "\e004";
}
.flaticon-science-and-technology-atom6:before {
  content: "\e005";
}
.flaticon-science-and-technology-atom7:before {
  content: "\e006";
}
.flaticon-science-and-technology-axe3:before {
  content: "\e007";
}
.flaticon-science-and-technology-barrels:before {
  content: "\e008";
}
.flaticon-science-and-technology-barrel:before {
  content: "\e009";
}
.flaticon-science-and-technology-battery79:before {
  content: "\e00a";
}
.flaticon-science-and-technology-battery80:before {
  content: "\e00b";
}
.flaticon-science-and-technology-battery81:before {
  content: "\e00c";
}
.flaticon-science-and-technology-battery82:before {
  content: "\e00d";
}
.flaticon-science-and-technology-battery83:before {
  content: "\e00e";
}
.flaticon-science-and-technology-battery84:before {
  content: "\e00f";
}
.flaticon-science-and-technology-battery85:before {
  content: "\e010";
}
.flaticon-science-and-technology-battery86:before {
  content: "\e011";
}
.flaticon-science-and-technology-beaker4:before {
  content: "\e012";
}
.flaticon-science-and-technology-beaker5:before {
  content: "\e013";
}
.flaticon-science-and-technology-bicycle10:before {
  content: "\e014";
}
.flaticon-science-and-technology-binoculars8:before {
  content: "\e015";
}
.flaticon-science-and-technology-bottle21:before {
  content: "\e016";
}
.flaticon-science-and-technology-bucket8:before {
  content: "\e017";
}
.flaticon-science-and-technology-bulldozer:before {
  content: "\e018";
}
.flaticon-science-and-technology-bus21:before {
  content: "\e019";
}
.flaticon-science-and-technology-bus22:before {
  content: "\e01a";
}
.flaticon-science-and-technology-cactus1:before {
  content: "\e01b";
}
.flaticon-science-and-technology-caliper:before {
  content: "\e01c";
}
.flaticon-science-and-technology-car80:before {
  content: "\e01d";
}
.flaticon-science-and-technology-car81:before {
  content: "\e01e";
}
.flaticon-science-and-technology-car82:before {
  content: "\e01f";
}
.flaticon-science-and-technology-closed41:before {
  content: "\e020";
}
.flaticon-science-and-technology-cloud113:before {
  content: "\e021";
}
.flaticon-science-and-technology-cloud114:before {
  content: "\e022";
}
.flaticon-science-and-technology-cloud119:before {
  content: "\e023";
}
.flaticon-science-and-technology-cloud122:before {
  content: "\e024";
}
.flaticon-science-and-technology-cloud123:before {
  content: "\e025";
}
.flaticon-science-and-technology-compass43:before {
  content: "\e026";
}
.flaticon-science-and-technology-construction7:before {
  content: "\e027";
}
.flaticon-science-and-technology-control10:before {
  content: "\e028";
}
.flaticon-science-and-technology-control9:before {
  content: "\e029";
}
.flaticon-science-and-technology-cooling1:before {
  content: "\e02a";
}
.flaticon-science-and-technology-cooling:before {
  content: "\e02b";
}
.flaticon-science-and-technology-cow4:before {
  content: "\e02c";
}
.flaticon-science-and-technology-crane2:before {
  content: "\e02d";
}
.flaticon-science-and-technology-cube10:before {
  content: "\e02e";
}
.flaticon-science-and-technology-cube9:before {
  content: "\e02f";
}
.flaticon-science-and-technology-cutter:before {
  content: "\e030";
}
.flaticon-science-and-technology-delivery13:before {
  content: "\e031";
}
.flaticon-science-and-technology-dump:before {
  content: "\e032";
}
.flaticon-science-and-technology-emergency6:before {
  content: "\e033";
}
.flaticon-science-and-technology-equalizer15:before {
  content: "\e034";
}
.flaticon-science-and-technology-excavator:before {
  content: "\e035";
}
.flaticon-science-and-technology-factory6:before {
  content: "\e036";
}
.flaticon-science-and-technology-fish14:before {
  content: "\e037";
}
.flaticon-science-and-technology-fish16:before {
  content: "\e038";
}
.flaticon-science-and-technology-fish17:before {
  content: "\e039";
}
.flaticon-science-and-technology-flashlight6:before {
  content: "\e03a";
}
.flaticon-science-and-technology-flower77:before {
  content: "\e03b";
}
.flaticon-science-and-technology-folding1:before {
  content: "\e03c";
}
.flaticon-science-and-technology-fuel5:before {
  content: "\e03d";
}
.flaticon-science-and-technology-gauge5:before {
  content: "\e03e";
}
.flaticon-science-and-technology-gear6:before {
  content: "\e03f";
}
.flaticon-science-and-technology-gearwheels:before {
  content: "\e040";
}
.flaticon-science-and-technology-hammer38:before {
  content: "\e041";
}
.flaticon-science-and-technology-jackhammer:before {
  content: "\e042";
}
.flaticon-science-and-technology-jerrycan:before {
  content: "\e043";
}
.flaticon-science-and-technology-knife13:before {
  content: "\e044";
}
.flaticon-science-and-technology-landing4:before {
  content: "\e045";
}
.flaticon-science-and-technology-leaf32:before {
  content: "\e046";
}
.flaticon-science-and-technology-magnet3:before {
  content: "\e047";
}
.flaticon-science-and-technology-magnifying37:before {
  content: "\e048";
}
.flaticon-science-and-technology-measuring6:before {
  content: "\e049";
}
.flaticon-science-and-technology-microscope4:before {
  content: "\e04a";
}
.flaticon-science-and-technology-minibus:before {
  content: "\e04b";
}
.flaticon-science-and-technology-moon20:before {
  content: "\e04c";
}
.flaticon-science-and-technology-moon21:before {
  content: "\e04d";
}
.flaticon-science-and-technology-mosquito2:before {
  content: "\e04e";
}
.flaticon-science-and-technology-motor2:before {
  content: "\e04f";
}
.flaticon-science-and-technology-motorbike2:before {
  content: "\e050";
}
.flaticon-science-and-technology-moving1:before {
  content: "\e051";
}
.flaticon-science-and-technology-mushroom6:before {
  content: "\e052";
}
.flaticon-science-and-technology-nail3:before {
  content: "\e053";
}
.flaticon-science-and-technology-newtons:before {
  content: "\e054";
}
.flaticon-science-and-technology-odometer:before {
  content: "\e055";
}
.flaticon-science-and-technology-paint49:before {
  content: "\e056";
}
.flaticon-science-and-technology-plant23:before {
  content: "\e057";
}
.flaticon-science-and-technology-power30:before {
  content: "\e058";
}
.flaticon-science-and-technology-pressure3:before {
  content: "\e059";
}
.flaticon-science-and-technology-pylon:before {
  content: "\e05a";
}
.flaticon-science-and-technology-radar5:before {
  content: "\e05b";
}
.flaticon-science-and-technology-radiation1:before {
  content: "\e05c";
}
.flaticon-science-and-technology-rain17:before {
  content: "\e05d";
}
.flaticon-science-and-technology-rain18:before {
  content: "\e05e";
}
.flaticon-science-and-technology-remote6:before {
  content: "\e05f";
}
.flaticon-science-and-technology-road17:before {
  content: "\e060";
}
.flaticon-science-and-technology-rocket20:before {
  content: "\e061";
}
.flaticon-science-and-technology-screwdriver16:before {
  content: "\e062";
}
.flaticon-science-and-technology-sedan1:before {
  content: "\e063";
}
.flaticon-science-and-technology-snow20:before {
  content: "\e064";
}
.flaticon-science-and-technology-snowflake126:before {
  content: "\e065";
}
.flaticon-science-and-technology-spider3:before {
  content: "\e066";
}
.flaticon-science-and-technology-spirit:before {
  content: "\e067";
}
.flaticon-science-and-technology-sportive27:before {
  content: "\e068";
}
.flaticon-science-and-technology-square73:before {
  content: "\e069";
}
.flaticon-science-and-technology-steering4:before {
  content: "\e06a";
}
.flaticon-science-and-technology-submarine2:before {
  content: "\e06b";
}
.flaticon-science-and-technology-sun35:before {
  content: "\e06c";
}
.flaticon-science-and-technology-sun36:before {
  content: "\e06d";
}
.flaticon-science-and-technology-switch10:before {
  content: "\e06e";
}
.flaticon-science-and-technology-switch11:before {
  content: "\e06f";
}
.flaticon-science-and-technology-switch12:before {
  content: "\e070";
}
.flaticon-science-and-technology-switch13:before {
  content: "\e071";
}
.flaticon-science-and-technology-switch8:before {
  content: "\e072";
}
.flaticon-science-and-technology-switch9:before {
  content: "\e073";
}
.flaticon-science-and-technology-tank:before {
  content: "\e074";
}
.flaticon-science-and-technology-tape:before {
  content: "\e075";
}
.flaticon-science-and-technology-thermometer28:before {
  content: "\e076";
}
.flaticon-science-and-technology-toolbox3:before {
  content: "\e077";
}
.flaticon-science-and-technology-tools6:before {
  content: "\e078";
}
.flaticon-science-and-technology-tower11:before {
  content: "\e079";
}
.flaticon-science-and-technology-tractor:before {
  content: "\e07a";
}
.flaticon-science-and-technology-tree36:before {
  content: "\e07b";
}
.flaticon-science-and-technology-truck19:before {
  content: "\e07c";
}
.flaticon-science-and-technology-truck20:before {
  content: "\e07d";
}
.flaticon-science-and-technology-truck21:before {
  content: "\e07e";
}
.flaticon-science-and-technology-truck22:before {
  content: "\e07f";
}
.flaticon-science-and-technology-ufo1:before {
  content: "\e080";
}
.flaticon-science-and-technology-umbrella17:before {
  content: "\e081";
}
.flaticon-science-and-technology-van14:before {
  content: "\e082";
}
.flaticon-science-and-technology-water29:before {
  content: "\e083";
}
.flaticon-science-and-technology-weight8:before {
  content: "\e084";
}
.flaticon-science-and-technology-wheel13:before {
  content: "\e085";
}
.flaticon-science-and-technology-wheel14:before {
  content: "\e086";
}
.flaticon-science-and-technology-wind17:before {
  content: "\e087";
}
.flaticon-science-and-technology-windmill2:before {
  content: "\e088";
}
.flaticon-science-and-technology-windsock1:before {
  content: "\e089";
}
.flaticon-science-and-technology-windup:before {
  content: "\e08a";
}
.flaticon-science-and-technology-wrench44:before {
  content: "\e08b";
}
