
@font-face {
  font-family: "Flaticon-Education";
  src: url("@{icon-font-path}flaticon/education/flaticon.eot");
  src: url("@{icon-font-path}flaticon/education/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/education/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/education/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/education/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-education-"]:before, [class*=" flaticon-education-"]:before,
[class^="flaticon-education-"]:after, [class*=" flaticon-education-"]:after {
  font-style: normal;
  font-family: Flaticon-Education;
}

.flaticon-education-30:before {
  content: "\e000";
}

.flaticon-education-45:before {
  content: "\e001";
}

.flaticon-education-601:before {
  content: "\e002";
}

.flaticon-education-a1:before {
  content: "\e003";
}

.flaticon-education-a2:before {
  content: "\e004";
}

.flaticon-education-a3:before {
  content: "\e005";
}

.flaticon-education-abacus:before {
  content: "\e006";
}

.flaticon-education-academic:before {
  content: "\e007";
}

.flaticon-education-adn1:before {
  content: "\e008";
}

.flaticon-education-alarm1:before {
  content: "\e009";
}

.flaticon-education-alphabet1:before {
  content: "\e00a";
}

.flaticon-education-alphabet2:before {
  content: "\e00b";
}

.flaticon-education-amount:before {
  content: "\e00c";
}

.flaticon-education-application5:before {
  content: "\e00d";
}

.flaticon-education-audio7:before {
  content: "\e00e";
}

.flaticon-education-audiobook:before {
  content: "\e00f";
}

.flaticon-education-avi1:before {
  content: "\e010";
}

.flaticon-education-b4:before {
  content: "\e011";
}

.flaticon-education-b5:before {
  content: "\e012";
}

.flaticon-education-backpack:before {
  content: "\e013";
}

.flaticon-education-bag:before {
  content: "\e014";
}

.flaticon-education-big52:before {
  content: "\e015";
}

.flaticon-education-big55:before {
  content: "\e016";
}

.flaticon-education-big56:before {
  content: "\e017";
}

.flaticon-education-big57:before {
  content: "\e018";
}

.flaticon-education-book10:before {
  content: "\e019";
}

.flaticon-education-book11:before {
  content: "\e01a";
}

.flaticon-education-book12:before {
  content: "\e01b";
}

.flaticon-education-book13:before {
  content: "\e01c";
}

.flaticon-education-book14:before {
  content: "\e01d";
}

.flaticon-education-book15:before {
  content: "\e01e";
}

.flaticon-education-book7:before {
  content: "\e01f";
}

.flaticon-education-book8:before {
  content: "\e020";
}

.flaticon-education-book9:before {
  content: "\e021";
}

.flaticon-education-brain2:before {
  content: "\e022";
}

.flaticon-education-briefcase2:before {
  content: "\e023";
}

.flaticon-education-brush6:before {
  content: "\e024";
}

.flaticon-education-bulb1:before {
  content: "\e025";
}

.flaticon-education-bulk:before {
  content: "\e026";
}

.flaticon-education-calendar5:before {
  content: "\e027";
}

.flaticon-education-calendar6:before {
  content: "\e028";
}

.flaticon-education-canvas:before {
  content: "\e029";
}

.flaticon-education-cd:before {
  content: "\e02a";
}

.flaticon-education-certificate2:before {
  content: "\e02b";
}

.flaticon-education-certificate3:before {
  content: "\e02c";
}

.flaticon-education-certificate:before {
  content: "\e02d";
}

.flaticon-education-checkered:before {
  content: "\e02e";
}

.flaticon-education-chemical:before {
  content: "\e02f";
}

.flaticon-education-chemistry:before {
  content: "\e030";
}

.flaticon-education-cinema2:before {
  content: "\e031";
}

.flaticon-education-cinema3:before {
  content: "\e032";
}

.flaticon-education-clock4:before {
  content: "\e033";
}

.flaticon-education-clock5:before {
  content: "\e034";
}

.flaticon-education-competition:before {
  content: "\e035";
}

.flaticon-education-computer12:before {
  content: "\e036";
}

.flaticon-education-correct2:before {
  content: "\e037";
}

.flaticon-education-creche:before {
  content: "\e038";
}

.flaticon-education-curriculum:before {
  content: "\e039";
}

.flaticon-education-deleted:before {
  content: "\e03a";
}

.flaticon-education-desktop:before {
  content: "\e03b";
}

.flaticon-education-diary1:before {
  content: "\e03c";
}

.flaticon-education-document5:before {
  content: "\e03d";
}

.flaticon-education-document6:before {
  content: "\e03e";
}

.flaticon-education-dotplot:before {
  content: "\e03f";
}

.flaticon-education-download4:before {
  content: "\e040";
}

.flaticon-education-download8:before {
  content: "\e041";
}

.flaticon-education-draw:before {
  content: "\e042";
}

.flaticon-education-earth2:before {
  content: "\e043";
}

.flaticon-education-education1:before {
  content: "\e044";
}

.flaticon-education-education2:before {
  content: "\e045";
}

.flaticon-education-education3:before {
  content: "\e046";
}

.flaticon-education-educational1:before {
  content: "\e047";
}

.flaticon-education-educational:before {
  content: "\e048";
}

.flaticon-education-education:before {
  content: "\e049";
}

.flaticon-education-encyclopedia:before {
  content: "\e04a";
}

.flaticon-education-favorite5:before {
  content: "\e04b";
}

.flaticon-education-fifteen:before {
  content: "\e04c";
}

.flaticon-education-file3:before {
  content: "\e04d";
}

.flaticon-education-filing:before {
  content: "\e04e";
}

.flaticon-education-first4:before {
  content: "\e04f";
}

.flaticon-education-first5:before {
  content: "\e050";
}

.flaticon-education-flag4:before {
  content: "\e051";
}

.flaticon-education-football1:before {
  content: "\e052";
}

.flaticon-education-foreign:before {
  content: "\e053";
}

.flaticon-education-forms:before {
  content: "\e054";
}

.flaticon-education-geography:before {
  content: "\e055";
}

.flaticon-education-glasses1:before {
  content: "\e056";
}

.flaticon-education-glasses:before {
  content: "\e057";
}

.flaticon-education-graph:before {
  content: "\e058";
}

.flaticon-education-guitar:before {
  content: "\e059";
}

.flaticon-education-hand:before {
  content: "\e05a";
}

.flaticon-education-hierarchical:before {
  content: "\e05b";
}

.flaticon-education-homework:before {
  content: "\e05c";
}

.flaticon-education-icloud1:before {
  content: "\e05d";
}

.flaticon-education-icloud:before {
  content: "\e05e";
}

.flaticon-education-images:before {
  content: "\e05f";
}

.flaticon-education-information2:before {
  content: "\e060";
}

.flaticon-education-injection:before {
  content: "\e061";
}

.flaticon-education-insignia:before {
  content: "\e062";
}

.flaticon-education-ipad:before {
  content: "\e063";
}

.flaticon-education-keyboard2:before {
  content: "\e064";
}

.flaticon-education-leaf4:before {
  content: "\e065";
}

.flaticon-education-lecture1:before {
  content: "\e066";
}

.flaticon-education-lecture:before {
  content: "\e067";
}

.flaticon-education-library:before {
  content: "\e068";
}

.flaticon-education-looking1:before {
  content: "\e069";
}

.flaticon-education-looking2:before {
  content: "\e06a";
}

.flaticon-education-look:before {
  content: "\e06b";
}

.flaticon-education-magnet2:before {
  content: "\e06c";
}

.flaticon-education-mail4:before {
  content: "\e06d";
}

.flaticon-education-mathematical1:before {
  content: "\e06e";
}

.flaticon-education-mathematical:before {
  content: "\e06f";
}

.flaticon-education-measure:before {
  content: "\e070";
}

.flaticon-education-measuring:before {
  content: "\e071";
}

.flaticon-education-meeting:before {
  content: "\e072";
}

.flaticon-education-microscope:before {
  content: "\e073";
}

.flaticon-education-molecules1:before {
  content: "\e074";
}

.flaticon-education-mouse2:before {
  content: "\e075";
}

.flaticon-education-museum2:before {
  content: "\e076";
}

.flaticon-education-music12:before {
  content: "\e077";
}

.flaticon-education-music13:before {
  content: "\e078";
}

.flaticon-education-necktie:before {
  content: "\e079";
}

.flaticon-education-new5:before {
  content: "\e07a";
}

.flaticon-education-numbers:before {
  content: "\e07b";
}

.flaticon-education-olympic:before {
  content: "\e07c";
}

.flaticon-education-online1:before {
  content: "\e07d";
}

.flaticon-education-online2:before {
  content: "\e07e";
}

.flaticon-education-online:before {
  content: "\e07f";
}

.flaticon-education-open14:before {
  content: "\e080";
}

.flaticon-education-paper9:before {
  content: "\e081";
}

.flaticon-education-paperclip:before {
  content: "\e082";
}

.flaticon-education-paragraph9:before {
  content: "\e083";
}

.flaticon-education-pdf2:before {
  content: "\e084";
}

.flaticon-education-pdf:before {
  content: "\e085";
}

.flaticon-education-pen22:before {
  content: "\e086";
}

.flaticon-education-pencil7:before {
  content: "\e087";
}

.flaticon-education-pencil8:before {
  content: "\e088";
}

.flaticon-education-physical:before {
  content: "\e089";
}

.flaticon-education-physics:before {
  content: "\e08a";
}

.flaticon-education-picture5:before {
  content: "\e08b";
}

.flaticon-education-pie3:before {
  content: "\e08c";
}

.flaticon-education-pillar:before {
  content: "\e08d";
}

.flaticon-education-placard:before {
  content: "\e08e";
}

.flaticon-education-planet1:before {
  content: "\e08f";
}

.flaticon-education-play6:before {
  content: "\e090";
}

.flaticon-education-play7:before {
  content: "\e091";
}

.flaticon-education-protractor:before {
  content: "\e092";
}

.flaticon-education-pushpin:before {
  content: "\e093";
}

.flaticon-education-q:before {
  content: "\e094";
}

.flaticon-education-quarter:before {
  content: "\e095";
}

.flaticon-education-research:before {
  content: "\e096";
}

.flaticon-education-robot3:before {
  content: "\e097";
}

.flaticon-education-rubber3:before {
  content: "\e098";
}

.flaticon-education-schedule:before {
  content: "\e099";
}

.flaticon-education-school1:before {
  content: "\e09a";
}

.flaticon-education-school4:before {
  content: "\e09b";
}

.flaticon-education-school6:before {
  content: "\e09c";
}

.flaticon-education-school7:before {
  content: "\e09d";
}

.flaticon-education-schoolclass:before {
  content: "\e09e";
}

.flaticon-education-science1:before {
  content: "\e09f";
}

.flaticon-education-science2:before {
  content: "\e0a0";
}

.flaticon-education-science:before {
  content: "\e0a1";
}

.flaticon-education-set1:before {
  content: "\e0a2";
}

.flaticon-education-shake:before {
  content: "\e0a3";
}

.flaticon-education-shelf:before {
  content: "\e0a4";
}

.flaticon-education-shopping7:before {
  content: "\e0a5";
}

.flaticon-education-signature2:before {
  content: "\e0a6";
}

.flaticon-education-small53:before {
  content: "\e0a7";
}

.flaticon-education-small54:before {
  content: "\e0a8";
}

.flaticon-education-smartphone2:before {
  content: "\e0a9";
}

.flaticon-education-smartphone:before {
  content: "\e0aa";
}

.flaticon-education-stage:before {
  content: "\e0ab";
}

.flaticon-education-steps:before {
  content: "\e0ac";
}

.flaticon-education-stethoscope2:before {
  content: "\e0ad";
}

.flaticon-education-student:before {
  content: "\e0ae";
}

.flaticon-education-table:before {
  content: "\e0af";
}

.flaticon-education-tablet2:before {
  content: "\e0b0";
}

.flaticon-education-tactil1:before {
  content: "\e0b1";
}

.flaticon-education-talking:before {
  content: "\e0b2";
}

.flaticon-education-teacher:before {
  content: "\e0b3";
}

.flaticon-education-teach:before {
  content: "\e0b4";
}

.flaticon-education-telescope:before {
  content: "\e0b5";
}

.flaticon-education-the25:before {
  content: "\e0b6";
}

.flaticon-education-thought:before {
  content: "\e0b7";
}

.flaticon-education-time2:before {
  content: "\e0b8";
}

.flaticon-education-uniform:before {
  content: "\e0b9";
}

.flaticon-education-university1:before {
  content: "\e0ba";
}

.flaticon-education-university2:before {
  content: "\e0bb";
}

.flaticon-education-university:before {
  content: "\e0bc";
}

.flaticon-education-unknown1:before {
  content: "\e0bd";
}

.flaticon-education-unknown:before {
  content: "\e0be";
}

.flaticon-education-virus:before {
  content: "\e0bf";
}

.flaticon-education-wagon:before {
  content: "\e0c0";
}

.flaticon-education-wall3:before {
  content: "\e0c1";
}

.flaticon-education-window10:before {
  content: "\e0c2";
}

.flaticon-education-window11:before {
  content: "\e0c3";
}

.flaticon-education-window8:before {
  content: "\e0c4";
}

.flaticon-education-window9:before {
  content: "\e0c5";
}

.flaticon-education-working1:before {
  content: "\e0c6";
}
