@font-face {
  font-family: "Flaticon-Health";
  src: url("@{icon-font-path}flaticon/health/flaticon.eot");
  src: url("@{icon-font-path}flaticon/health/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/health/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/health/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/health/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-health-"]:before, [class*=" flaticon-health-"]:before,
[class^="flaticon-health-"]:after, [class*=" flaticon-health-"]:after {
  font-style: normal;
  font-family: Flaticon-Health;
}

.flaticon-health-accesibility:before {
  content: "\e000";
}

.flaticon-health-adhesive:before {
  content: "\e001";
}

.flaticon-health-ambulance3:before {
  content: "\e002";
}

.flaticon-health-bandaged:before {
  content: "\e003";
}

.flaticon-health-blood1:before {
  content: "\e004";
}

.flaticon-health-broken8:before {
  content: "\e005";
}

.flaticon-health-clock8:before {
  content: "\e006";
}

.flaticon-health-emergency2:before {
  content: "\e007";
}

.flaticon-health-emergency3:before {
  content: "\e008";
}

.flaticon-health-first16:before {
  content: "\e009";
}

.flaticon-health-garbage1:before {
  content: "\e00a";
}

.flaticon-health-health:before {
  content: "\e00b";
}

.flaticon-health-healthy1:before {
  content: "\e00c";
}

.flaticon-health-healthy2:before {
  content: "\e00d";
}

.flaticon-health-heart27:before {
  content: "\e00e";
}

.flaticon-health-hospital1:before {
  content: "\e00f";
}

.flaticon-health-hospital2:before {
  content: "\e010";
}

.flaticon-health-hospital3:before {
  content: "\e011";
}

.flaticon-health-injured:before {
  content: "\e012";
}

.flaticon-health-ladder:before {
  content: "\e013";
}

.flaticon-health-man85:before {
  content: "\e014";
}

.flaticon-health-man87:before {
  content: "\e015";
}

.flaticon-health-man88:before {
  content: "\e016";
}

.flaticon-health-medical10:before {
  content: "\e017";
}

.flaticon-health-medical7:before {
  content: "\e018";
}

.flaticon-health-medicine1:before {
  content: "\e019";
}

.flaticon-health-medicine2:before {
  content: "\e01a";
}

.flaticon-health-medicine3:before {
  content: "\e01b";
}

.flaticon-health-medicine6:before {
  content: "\e01c";
}

.flaticon-health-medicines:before {
  content: "\e01d";
}

.flaticon-health-nurses:before {
  content: "\e01e";
}

.flaticon-health-operating:before {
  content: "\e01f";
}

.flaticon-health-oxygen:before {
  content: "\e020";
}

.flaticon-health-patient:before {
  content: "\e021";
}

.flaticon-health-pharmacy3:before {
  content: "\e022";
}

.flaticon-health-pills:before {
  content: "\e023";
}

.flaticon-health-prohibition1:before {
  content: "\e024";
}

.flaticon-health-radioactive3:before {
  content: "\e025";
}

.flaticon-health-radiography:before {
  content: "\e026";
}

.flaticon-health-recycle2:before {
  content: "\e027";
}

.flaticon-health-recycle:before {
  content: "\e028";
}

.flaticon-health-screen8:before {
  content: "\e029";
}

.flaticon-health-soda3:before {
  content: "\e02a";
}

.flaticon-health-staircase1:before {
  content: "\e02b";
}

.flaticon-health-stairs3:before {
  content: "\e02c";
}

.flaticon-health-stethoscope1:before {
  content: "\e02d";
}

.flaticon-health-syringe:before {
  content: "\e02e";
}

.flaticon-health-task:before {
  content: "\e02f";
}

.flaticon-health-teeth:before {
  content: "\e030";
}

.flaticon-health-telescope1:before {
  content: "\e031";
}

.flaticon-health-test4:before {
  content: "\e032";
}

.flaticon-health-test5:before {
  content: "\e033";
}

.flaticon-health-thermometer25:before {
  content: "\e034";
}

.flaticon-health-two25:before {
  content: "\e035";
}

.flaticon-health-warning12:before {
  content: "\e036";
}

.flaticon-health-woman52:before {
  content: "\e037";
}
