
@font-face {
  font-family: "Flaticon-Social";
  src: url("@{icon-font-path}flaticon/social/flaticon.eot");
  src: url("@{icon-font-path}flaticon/social/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/social/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/social/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/social/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="flaticon-social-"]:before, [class*=" flaticon-social-"]:before,
[class^="flaticon-social-"]:after, [class*=" flaticon-social-"]:after {
  font-style: normal;
  font-family: Flaticon-Social;
}
.flaticon-social-social37:before {
  content: "\e000";
}
.flaticon-social-social-media12:before {
  content: "\e001";
}
.flaticon-social-social-media13:before {
  content: "\e002";
}
.flaticon-social-social-media14:before {
  content: "\e003";
}
.flaticon-social-social-media15:before {
  content: "\e004";
}
.flaticon-social-social-media16:before {
  content: "\e005";
}
.flaticon-social-social-network287:before {
  content: "\e006";
}
.flaticon-social-social-network288:before {
  content: "\e007";
}
.flaticon-social-social-network289:before {
  content: "\e008";
}
.flaticon-social-social-network290:before {
  content: "\e009";
}
.flaticon-social-social-network291:before {
  content: "\e00a";
}
.flaticon-social-social-network292:before {
  content: "\e00b";
}
.flaticon-social-social-network293:before {
  content: "\e00c";
}
.flaticon-social-social-network294:before {
  content: "\e00d";
}
.flaticon-social-social-network295:before {
  content: "\e00e";
}
.flaticon-social-social-network296:before {
  content: "\e00f";
}
.flaticon-social-social-network297:before {
  content: "\e010";
}
.flaticon-social-social-network298:before {
  content: "\e011";
}
.flaticon-social-social-network299:before {
  content: "\e012";
}
.flaticon-social-social-network300:before {
  content: "\e013";
}
.flaticon-social-social-network301:before {
  content: "\e014";
}
.flaticon-social-social-network302:before {
  content: "\e015";
}
.flaticon-social-social-network303:before {
  content: "\e016";
}
.flaticon-social-social-network304:before {
  content: "\e017";
}
.flaticon-social-social-network305:before {
  content: "\e018";
}
.flaticon-social-social-network306:before {
  content: "\e019";
}
.flaticon-social-social-network307:before {
  content: "\e01a";
}
.flaticon-social-social-network308:before {
  content: "\e01b";
}
.flaticon-social-social-network309:before {
  content: "\e01c";
}
.flaticon-social-social-network310:before {
  content: "\e01d";
}
.flaticon-social-social-network311:before {
  content: "\e01e";
}
.flaticon-social-social-network312:before {
  content: "\e01f";
}
.flaticon-social-social-network313:before {
  content: "\e020";
}
.flaticon-social-social-network314:before {
  content: "\e021";
}
.flaticon-social-social-network315:before {
  content: "\e022";
}
.flaticon-social-social-network316:before {
  content: "\e023";
}
.flaticon-social-social-network317:before {
  content: "\e024";
}
.flaticon-social-social-network318:before {
  content: "\e025";
}
.flaticon-social-social-network319:before {
  content: "\e026";
}
.flaticon-social-social-network320:before {
  content: "\e027";
}
.flaticon-social-social-network321:before {
  content: "\e028";
}
.flaticon-social-social-network322:before {
  content: "\e029";
}
.flaticon-social-social-network323:before {
  content: "\e02a";
}
.flaticon-social-social-network324:before {
  content: "\e02b";
}
.flaticon-social-social-network325:before {
  content: "\e02c";
}
.flaticon-social-social-network326:before {
  content: "\e02d";
}
.flaticon-social-social-network327:before {
  content: "\e02e";
}
.flaticon-social-social-network328:before {
  content: "\e02f";
}
.flaticon-social-social-network329:before {
  content: "\e030";
}
.flaticon-social-social-network330:before {
  content: "\e031";
}
