@font-face {
  font-family: "Flaticon-Outdoor";
  src: url("@{icon-font-path}flaticon/outdoor/flaticon.eot");
  src: url("@{icon-font-path}flaticon/outdoor/flaticon.eot#iefix") format("embedded-opentype"),
  url("@{icon-font-path}flaticon/outdoor/flaticon.woff") format("woff"),
  url("@{icon-font-path}flaticon/outdoor/flaticon.ttf") format("truetype"),
  url("@{icon-font-path}flaticon/outdoor/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-outdoor-"]:before, [class*=" flaticon-outdoor-"]:before,
[class^="flaticon-outdoor-"]:after, [class*=" flaticon-outdoor-"]:after {
  font-style: normal;
  font-family: Flaticon-Outdoor;
}
.flaticon-outdoor-badminton10:before {
  content: "\e000";
}
.flaticon-outdoor-bike23:before {
  content: "\e001";
}
.flaticon-outdoor-boating:before {
  content: "\e002";
}
.flaticon-outdoor-camera22:before {
  content: "\e003";
}
.flaticon-outdoor-cart2:before {
  content: "\e004";
}
.flaticon-outdoor-catch1:before {
  content: "\e005";
}
.flaticon-outdoor-climbing8:before {
  content: "\e006";
}
.flaticon-outdoor-climb:before {
  content: "\e007";
}
.flaticon-outdoor-clim:before {
  content: "\e008";
}
.flaticon-outdoor-cook10:before {
  content: "\e009";
}
.flaticon-outdoor-cycling:before {
  content: "\e00a";
}
.flaticon-outdoor-deer8:before {
  content: "\e00b";
}
.flaticon-outdoor-direction41:before {
  content: "\e00c";
}
.flaticon-outdoor-drive7:before {
  content: "\e00d";
}
.flaticon-outdoor-fences4:before {
  content: "\e00e";
}
.flaticon-outdoor-fish58:before {
  content: "\e00f";
}
.flaticon-outdoor-fish5:before {
  content: "\e010";
}
.flaticon-outdoor-golfing:before {
  content: "\e011";
}
.flaticon-outdoor-house217:before {
  content: "\e012";
}
.flaticon-outdoor-jump8:before {
  content: "\e013";
}
.flaticon-outdoor-light6:before {
  content: "\e014";
}
.flaticon-outdoor-mountain45:before {
  content: "\e015";
}
.flaticon-outdoor-olympic22:before {
  content: "\e016";
}
.flaticon-outdoor-olympic23:before {
  content: "\e017";
}
.flaticon-outdoor-orientation7:before {
  content: "\e018";
}
.flaticon-outdoor-park14:before {
  content: "\e019";
}
.flaticon-outdoor-park15:before {
  content: "\e01a";
}
.flaticon-outdoor-picnic8:before {
  content: "\e01b";
}
.flaticon-outdoor-pine12:before {
  content: "\e01c";
}
.flaticon-outdoor-play10:before {
  content: "\e01d";
}
.flaticon-outdoor-pole:before {
  content: "\e01e";
}
.flaticon-outdoor-race9:before {
  content: "\e01f";
}
.flaticon-outdoor-rock1:before {
  content: "\e020";
}
.flaticon-outdoor-run9:before {
  content: "\e021";
}
.flaticon-outdoor-sail5:before {
  content: "\e022";
}
.flaticon-outdoor-skater:before {
  content: "\e023";
}
.flaticon-outdoor-ski14:before {
  content: "\e024";
}
.flaticon-outdoor-ski15:before {
  content: "\e025";
}
.flaticon-outdoor-sleeping1:before {
  content: "\e026";
}
.flaticon-outdoor-sport26:before {
  content: "\e027";
}
.flaticon-outdoor-spy4:before {
  content: "\e028";
}
.flaticon-outdoor-steps:before {
  content: "\e029";
}
.flaticon-outdoor-surf7:before {
  content: "\e02a";
}
.flaticon-outdoor-table2:before {
  content: "\e02b";
}
.flaticon-outdoor-tent:before {
  content: "\e02c";
}
.flaticon-outdoor-training:before {
  content: "\e02d";
}
.flaticon-outdoor-vehicle63:before {
  content: "\e02e";
}
.flaticon-outdoor-walk16:before {
  content: "\e02f";
}
.flaticon-outdoor-walk17:before {
  content: "\e030";
}
.flaticon-outdoor-weapon:before {
  content: "\e031";
}
