
@icon-font-path: "https://cdn.umt.edu/fonts/";

@import "flaticon-health.less";
@import "flaticon-education.less";
@import "flaticon-education-lite.less";
@import "flaticon-outdoor.less";
@import "flaticon-science-and-technology.less";
@import "flaticon-general.less";
@import "flaticon-social.less";

.icon {
  &:before {
    font-size: 2rem;
    line-height: 3rem;
  }

  &.small {
    &:before {
      font-size: 2rem;
    }

  }

  &.medium {
    &:before {
      font-size: 2.5rem;
    }
  }

  &.large {
    &:before {
      font-size: 4rem;
      line-height: 2rem;
    }
  }

}